{%extends 'new_home.html'%}
{% load static %}

{% block head_js_css %}
<style type="text/css">#privacy .con p{ line-height:22px !important ; color:black;font-size: 16.5px;}</style>
{% endblock head_js_css %}
{%block body%}

<section id="privacy" style="margin-top:50px;margin-bottom: 50px;border-bottom: none;">

<div class="con" >

<h1>About</h1>
<p style=" text-align:center; margin-top:20px">

Clat is an Online learning portal by QCI. Clat is designed  help Indian professionals  to strengthen their of Quality management and assessments skills along with application of these concepts to real life scenario. Courses available on the portal will assist the learners  to improve their skills and knowledge thereby  enhancing their career prospects . 
</p>
<h1>Our Mission</h1>
<p style=" text-align:center; margin-top:20px;">Today there are lots of institutes which offer courses but the core quality skills are not comprehensively taught . Clat aims to fill this gap and offer courses on quality management and assessments thereby building a fully trained people force to implement ZED and Make in India vision of the PM  comprehensively . Further by completing these courses learners can improve their career prospects  and job opportunities as well.</p>


	<h1>How it works</h1>

<div class="col-lg-4">
	<p style="margin-top:20px">1.  At Clat students will be taught courses as per the choice of the students.  The students will be undergoing time bound  courses which can be taught online and they can take the courses  at their own pace .</p>
	<p style="margin-top:20px">2.  All the courses will be split into modules of fixed durations . After every 3 modules students will need to complete an inline quiz where they have to acquire 75% marks or more  to be able to move to the next module .</p>
	<p style="margin-top:20px">3.  There will be a mid term exam and a final exam after completion of all the modules. Students need to score 75% or more marks to be eligible for a participation certificate . </p>
	<p style="margin-top:20px">4.  The learning will will be delivered using a combination of  E-lectures, video lectures, info graphics  along with comprehensive assessments  and case studies based learning .</p>
	<p style="margin-top:20px">5.  As stated above state-of-art online assessments will be an integral part of the Clat learning process and  may have an option for online proctoring to ensure that cheating and other forms of frauds are eliminated and under control.</p>
	<p style="margin-top:20px">6.  When student will complete the online  course they will be eligible to take the  physical program which will be conducted at various approved QCI sites followed by an online proctored assessment. Those clearing the final physical at site program will be eligible to receive a competency certificate for the course attended. </p>
</div>
<!-- <div class="col-lg-4" style=" border-bottom: solid 1px #ccc">
<div class="col-md-50">
<h2>Effective Learning</h2>
<p>Students will be taught special skill courses with the help of six sigma quality tools, lean management, Kaizen and lots of other methods. Clat aspires for inculcating special skills to the candidates by various programs and trainings like Six sigma quality tools, lean management, KAIZEN and other tools available.  Management that is available with Clat is student centric so that they can help the students to learn more. Case studies, audio visual learning material such as e-lectures and video lectures will be available for teaching purpose. Plus, our curriculum is student centric that can help students to learn more through Case studies, audio visual learning method such as e-lectures and video lectures.
</p></div>
<div class="col-md-50">
<div class="how-img"><img src="{%static '/static/images/icons/Student-100.png'%}"></div>
</div></div>

<div class="col-lg-4" style=" border-bottom: solid 1px #ccc">
<div class="col-md-50">
<div class="how-img"><img src="{%static '/static/images/icons/Statistics-100.png'%}"></div>
</div>

<div class="col-md-50">
<h2>Intelligent Learning Management System</h2>
<p>State-of-art online assessments are also available on Clat e-learning management. Online assessment is obtained with the help of patent technology and face to face recognition. The campaign is bagged with technology and will capture students if they were found cheating. The campaign is also accompanied with technology that can minimize unlawful practices undertaken by the students.
</p></div>
</div>
<div class="col-lg-4" style=" border-bottom: solid 1px #ccc">
<div class="col-md-50">
<h2>Nationwide Recognized Certificate</h2>
<p>After students complete their online course, they will get an invitation for a face to face online assessment after which they will receive national certification. The certificates are accredited by the Government of India.
</p></div>
<div class="col-md-50">
<div class="how-img"><img src="{%static '/static/images/icons/Family-100.png'%}"></div>
</div></div>

<div class="col-lg-4" style=" border-bottom: solid 1px #ccc">
<div class="col-md-50">
<div class="how-img"><img src="{%static '/static/images/icons/Reading-100.png'%}"></div>
</div>

<div class="col-md-50">
<h2>Passport For International Opportunities</h2>
<p>Students will be trained with new opportunities that will accentuate them to work on actual site with laid down principles of international certification. Certification will help the applicant to get better job opportunities in India as well as in other regions of the world.
</p></div> -->
</div>
</section>
{%endblock%}
