{% extends 'new_home.html' %}
{% block body %}
<section id="revi">
<div class="con"  >


<h1 style=" font-size:32px !important; text-align:center; font-weight:300 !important">Valuable Credentials From Government of India</h1>

<div class="col-md-2" >
<img src="images/cert-verified-thumb.png" width="100%" style=" margin-left:0px !important; max-width:350px !important" />

</div>




<div class="col-md-2">

<h2 style="color:#06F !important; font-weight:400 !important">Earn Your Verified Certificate</h2>

<h4>A Convient Way to advance your educcation and Career</h4>
<ul id="cert">
<li>Official</li>
<li>Verifiable</li>
<li>Shareable</li>
</ul>
</div>
</div></section>
{% endblock %}