{% extends 'new_home.html' %}
{% load static %}
{% load default_tags %}
{% load test_tags %}

{% block slider %}
{% endblock %}
{% block footer_css_js %}
<script src="{% static '/static/custom/js/course_videos.js'%}"></script>
<script src="{% static '/static/custom/js/browser_detection.js'%}"></script>

<script>
function refresh_it(){
   alertify.confirm("After test completion, please refresh your page.", function (e) {
        if (e) {
            window.location = window.location;
            alertify.success( 'Refreshing page.' );
        } else {
          alertify.error( 'Please refresh this page for latest updates in your account.' );
        }
    });
}
function isAllowedToWatch(e){
/*
   alertify.confirm("<span style='color:red;'>Previous module progress is less then 100%.</span><br> Please spent atleast <span style='color:blue;'> 35 Minutes </span> on previous module to watch next <span style='color:blue;'>"+ $(e).text() +"</span> .", function (e) {
*/
alertify.confirm("<p style='text-align:left;'>You can  move to the next module if you complete BOTH the conditions given below<ol style='color:blue;'><li>View the module 100% - All the slides and videos in the module need to be viewed .</li><li>Spend AT LEAST  45 minutes in each module</li></ol></p><p>The progress in each module is displayed under the name of the module on the left side of the page or on the Student Dashboard.<br><i style='color:red;'>Use Chrome or Mozilla Firefox for better experience.<i></p>", function (e) {
        if (e) {
            alertify.success( 'Please Complete previous module first.' );
        } else {}
    });
}
  $(function() {
    $("#course").accordion({
      activate: function (event, ui) {
        }
      });
  });
  </script>

  <style>
    .weeks{
      color:#09F;
      border-color: #09F;
    }
  </style>
{%endblock%} 
{% block body %}
<section id="privacy" style="margin-top: 103px;">
  <div class="con"  id="pro">
    <div class="col-lg-1 right" >
      <div class="col-lg-4" id="course">
      {% if weeks.items %}
          {% for week,modules in weekly_details.items %}
        <h3 class="weeks">Week {{ week }} details</h3>
        <div id="week{{week}}details">
        {% for details in modules %}
          <p>
          {{ details }}
          </p>
        {% endfor %}
        </div>
        {% endfor %}
      {% endif %}
      </div>
    
    </div>
    <div class="col-sm-3 right"  >
      <p style="text-align: left;text-decoration: underline;color:blue;">Course : {{ course.course_name|upper }}</p>
      <ul class="filters">
      {% if user.teacher or user.is_superuser%}
          {% if weeks.items %}
              {% for week,modules in weeks.items %}
                  <li class="week" id="filter{{week}}">Week {{week}} <span class="plus-icon" data-icon="S"></span></li>
                  <div class="filter-week" id="fi{{week}}">
                    <ul>
                    {% for module,video in modules.items %}
                        {% if video.0.0 %}
                          <li data-video-url="{{video.0.1|cut:'.zip'}}" data-video-type="{{video.0.2}}"  id="{{module|cut:' '}}">
                              <a href="/teacher/video{{video.0.0|cut:'.zip'}}/story.html">
                                <div class="submitss">{{module}}</div>
                              </a>
                          </li>
                        {% else %}
                          <li id="{{module|cut:' '}}">
                              <a href="javascript:void(0);">
                                <div class="submitss">{{module}}<sup style='color:red;'>&nbsp;&nbsp;Not-Avail</sup></div>
                              </a>
                          </li> 
                        {% endif %}
                    {% endfor %}
                    </ul>
                  </div>
            {% endfor %}
          {% else %}
              <li class="week" id="filter" style="color:red;">Weeks' videos not available</li>
          {% endif %}
      
      {% else %}
        {% if weeks.items %}
          {% for week,modules in weeks.items %}
          <li class="week" id="filter{{week}}" onclick="collapseWeeks(this)">Week {{week}} <span class="plus-icon" data-icon="S"></span></li>
          <div class="filter-week" id="fi{{week}}">
            <ul>
              <!-- {{modules.items}} -->
              {% for module,video in modules.items %}
                  
                  {%if module|check_access_status:enrolledcourse %}
                          <li data-video-url="{{video.0.1|cut:'.zip'}}" data-video-type="{{video.0.2}}"  id="{{module|cut:' '}}">

                            {%if video.0.0 %}
                                <a href="/video{{video.0.0|cut:'.zip'}}/story.html">
                                  <div class="submitss" >{{module}}</div><hr><span style='color:green;'>Progress: {{module|str_m_time_progress:user}}%</span>
                                </a>
                            {%else%}
                                <div class="submitss">{{module}}<sup style='color:red;'>&nbsp;&nbsp;Not-Avail</sup></div>
                            {%endif%}
                          </li>
                         {%if module|check_progress_status:enrolledcourse %}
                            
                          {%with schedule_data=module|take_test_key:user %}
                          {% if schedule_data %}
                              {%if schedule_data.0 %}
                                <a href="/inline/test/{{course.course_uuid}}/{{schedule_data.0}}/" onclick="refresh_it()" target="_blank">
                                   <li class="submitss" id="filter">Inline Quiz<br>
                                       <span style="color:green;">{% if schedule_data.2 == 1 %} 3 {% elif schedule_data.2 == 2 %} 2 {% else %} 1 {% endif %}attempt(s) remaining.</span>
                                   </li>
                                </a>
                                {% if schedule_data.2 > 1 %}
                                <a href="/inline/progress/{{course.course_uuid}}/{{module}}/">
                                   <li class="submitss" id="filter">
                                        <span style="color:green;">View Tests Stats.</span>
                                   </li>
                                </a>
                                {% endif %}
                              {%else%}
                                <a href="/inline/progress/{{course.course_uuid}}/{{module}}/">
                                   <li class="submitss" id="filter">Inline Quiz&nbsp;<sup>{{schedule_data.1}}</sup><br>
                                        <span style="color:green;">View Tests Stats.</span>
                                   </li>
                                </a>
                              {%endif%}
                          {% endif %}

                          {%endwith%}
                          
                          {%with schedule_key=module|get_midterm_url:course %}

                              {%if schedule_key%}
                                {%with is_pass=schedule_key|get_test:module|check_for_pass:user %}
                                  {% if is_pass.0 %}
                                     {%if is_pass.1%}
                                       <a href="">
                                     {%else%}
                                        <a href="/inline/test/{{course.course_uuid}}/{{ schedule_key}}" onclick="refresh_it()" target="_blank">
                                     {%endif%}
                                       <li class="submitss" id="filter">Midterm Quiz&nbsp;<sup>{{is_pass.1}}</sup></li>
                                     </a>
                                  {%endif%}
                                  
                                {%endwith%}
                              {%endif%}

                          {%endwith%}
                          {% else %}

                              {% if module|get_midterm_url:course %}
                                  <li class="submitss" id="filter">Mid Term Quiz<sup style='color:red;'>NA</sup></li>
                              {% endif %}
                              {% if module|get_inline_url:course %}
                                  <li class="submitss" id="filter">Inline Quiz<sup style='color:red;'>NA</sup></li>
                              {% endif %}

                        {% endif %}

                  {% else %}
                        <li>
                          <a href="javascript:void(0);" style="text-decoration: none;">
                          <div class="submitss" onclick="isAllowedToWatch(this);">{{module}}</div>
                          <hr><span style='color:green;'>Progress: 0%</span>
                          </a>
                        </li>
                        
                        {% if module|get_inline_url:course %}
                            <!-- <a href="/inline/test/{{course.course_uuid}}/{{ schedule_key}}" target="_blank">
                              <li class="submitss" id="filter">Inline Quiz <sup style='color:red;'>NA</sup></li>
                            <!-- </a> -->
                        {%endif%}
                        
                        {% if module|get_midterm_url:course %}
                                  <li class="submitss" id="filter">Mid Term Quiz<sup style='color:red;'>NA</sup></li>
                        {% endif %}

                {% endif %}

          {% endfor %}
            </ul>
          </div>

          {% endfor %}
          {% with schedule_key=course|get_endterm_url %}
          {% if schedule_key %}
             {%with is_pass=schedule_key|get_test|check_for_pass:user %}
              {% if is_pass.0 %}
                 {%if is_pass.1%}
                   <a href="">
                 {%else%}
                    <a href="/end/test/{{course.course_uuid}}/{{ schedule_key}}" target="_blank" onclick="refresh_it()">
                 {%endif%}
                   <li class="week" id="filter">Endterm Quiz&nbsp;<sup>{{is_pass.1}}</sup></li>
                 </a>
              {%endif%}
            
            {%endwith%}
          {%endif%}
          {% endwith %}
          <li class="week" id="filter" style="color:red;"><a href="/ask/question/{{course.course_uuid}}">Have a Question?</a></li>

        {%else%}
          <li class="submitss" id="filter" style="color:red;">Weeks' videos not available</li>
        {%endif%}
    {% endif %}
      </ul>
    </div>
  </div>
</section>
{%endblock%} 

