{% extends 'new_home.html' %}
{% load static %}
{% load default_tags %}
{% load test_tags %}

{% block head_js_css %}
<script src="{% static '/static/custom/js/course_videos.js'%}"></script>
<script src="{% static '/static/custom/js/browser_detection.js'%}"></script>

<script>
function refresh_it(){
   alertify.confirm("After test completion, please refresh your page.", function (e) {
        if (e) {
            window.location = window.location;
            alertify.success('Refreshing page.');
        } else {
          alertify.error( 'Please refresh this page for latest updates in your account.' );
        }
    });
}
function isAllowedToWatch(e){
/*
   alertify.confirm("<span style='color:red;'>Previous module progress is less then 100%.</span><br> Please spent atleast <span style='color:blue;'> 35 Minutes </span> on previous module to watch next <span style='color:blue;'>"+ $(e).text() +"</span> .", function (e) {
*/
alertify.confirm("<p style='text-align:left;'>You can  move to the next module if you complete BOTH the conditions given below<ol style='color:blue;'><li>View the module 100% - All the slides and videos in the module need to be viewed .</li><li>Spend AT LEAST  45 minutes in each module</li></ol></p><p>The progress in each module is displayed under the name of the module on the left side of the page or on the Student Dashboard.<br><i style='color:red;'>Use Chrome or Mozilla Firefox for better experience.<i></p>", function (e) {
        if (e) {
            alertify.success( 'Please Complete previous module first.' );
        } else {}
    });
}
  $(function() {
    $("#course").accordion({
      activate: function (event, ui) {
        }
      });
  });
  </script>

  <style>
    .weeks{
      color:#09F;
      border-color: #09F;
    }
  </style>
{% endblock %} 
{% block body %}
<div class="font-20" style='margin-top: 20px;'><a href="javascript:void(0);">{{ course.course_name|upper }}</a><span> / Videos</span></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <!--  -->
      <div class="row">
        <div class="panel-group" id="monogram-acc">
        {% if weeks.items %}
          {% for week,modules in weeks.items %}
         <div class="panel panel-info" style='border-radius:0px;'> 
          <a data-toggle="collapse" data-parent="#monogram-acc" href="#collapseOne{{week}}" class="weekCollapse">
            <div class="panel-heading">
               <h4 class="panel-title">
                     Week {{week}} videos<span class="glyphicon glyphicon-facetime-video right"></span>
               </h4>
            </div>
          </a>
            <div id="collapseOne{{week}}" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="list-group">
                {% for module, video in modules.items %}
                    {% if module|check_access_status:enr_course %}
                        {% if video.0.0 %}
                          <a type="button" title="Click to watch it." href="/video{{video.0.0|cut:'.zip'}}/story.html" class="list-group-item text-center">{{ module }}
                            <span class="glyphicon glyphicon-play-circle left"></span>
                            <span class="right" style="color: green;">{{module|str_m_time_progress:user}}%</span>
                          </a>
                        {% else %}
                        <a type="button" href="javascript:void(0)" class="list-group-item" title="This video is unavailable.">{{ module }}<sup class="error">&nbsp;&nbsp;Not-Avail</sup></a>
                        {% endif %}
                        <!-- Bug ....... -->
                        {% if module|check_progress_status:enr_course %}
                        
                        {%with schedule_data=module|get_inline_test_key:user %}
                            {% if schedule_data %}
                                {%if schedule_data.0 %}
                                <a type="button" class="list-group-item" href="/inline/test/{{course.course_uuid}}/{{schedule_data.0}}/" onclick="refresh_it()" target="_blank">
                                   <li class="submitss" id="filter">Inline Quiz<br>
                                        {%if schedule_data.2%}
                                          <span style="color:green;">{{schedule_data.2}} attempt(s) remaining.</span>
                                        {%endif%}  
                                   </li>
                                </a>
                                {% if schedule_data.2 >= 1 %}
                                <a type="button" class="list-group-item" href="/inline/progress/{{course.course_uuid}}/{{module}}/">
                                   <li class="submitss" id="filter">
                                        <span style="color:green;">View Tests Stats.</span>
                                   </li>
                                </a>
                                {% endif %}
                              {%else%}
                                <a type="button" class="list-group-item" href="/inline/progress/{{course.course_uuid}}/{{module}}/">
                                   <li class="submitss" id="filter">Inline Quiz&nbsp;<sup>{{schedule_data.1}}</sup><br>
                                        <span style="color:green;">View Tests Stats.</span>
                                   </li>
                                </a>
                              {%endif%}
                            {%endif%}
                        {%endwith%}

                        {%with schedule_key=module|get_midterm_url:course %}
                              {%if schedule_key%}
                                {%with is_pass=schedule_key|get_test:module|check_for_pass:user %}
                                  {% if is_pass.0 %}
                                     {%if is_pass.1%}
                                       <a href="">
                                     {%else%}
                                        <a type="button" class="list-group-item" href="/inline/test/{{course.course_uuid}}/{{ schedule_key}}" onclick="refresh_it()" target="_blank">
                                     {%endif%}
                                       <li class="submitss" id="filter">Midterm Quiz&nbsp;<sup>{{is_pass.1}}</sup></li>
                                     </a>
                                     <!-- {%if is_pass.1%}
                                       <a type="button" href="javascript:void(0)" class="list-group-item" >
                                     {%else%}
                                        <a type="button"  class="list-group-item" href="/inline/test/{{course.course_uuid}}/{{ schedule_key}}" onclick="refresh_it()" target="_blank">
                                     {%endif%}
                                      Midterm Quiz&nbsp;<sup>{{is_pass.1}}</sup><span class="glyphicon glyphicon-pencil right"></span>
                                     </a> -->
                                  {%endif%}
                                
                                {%endwith%}
                              {%endif%}

                          {%endwith%}
                          {% else %}
                            {% if module|get_midterm_url:course %}
                                <a type="button" href="javascript:void(0)" class="list-group-item" title="This test is unavailable.">Mid Term Quiz<sup class="error">NA</sup></a>
                            {% endif %}
                            {% if module|get_inline_url:course %}
                                <a type="button" href="javascript:void(0)" class="list-group-item" title="This test is unavailable.">Inline Quiz<sup class="red">NA</sup></a>
                            {% endif %}
                        {% endif %}
                        <!-- Bugie....... -->
                    {% else %}
                    <a type="button" onclick="isAllowedToWatch(this);" title="This video is locked." href="javascript:void(0)" class="list-group-item">{{ module }}<span class="glyphicon glyphicon-lock error right"></span></a>
                    {% endif %}
                {% endfor %}
                  </div>
              </div>
            </div>
         </div>
         {% endfor %} 
        <div class="panel panel-info" style='border-radius:0px;'> 
            <div class="panel-heading">
              <h4 class="panel-title">
            {% with schedule_key=course|get_endterm_url %}
              {% if schedule_key %}
               {%with is_pass=schedule_key|get_test|check_for_pass:user %}
                {% if is_pass.0 %}
                   {%if is_pass.1%}
                     <a href="javascript:void(0)">
                   {%else%}
                      <a href="/end/test/{{course.course_uuid}}/{{ schedule_key}}" target="_blank" onclick="refresh_it()">
                   {%endif%}
                     Endterm Quiz&nbsp;<sup class="error">{{is_pass.1}}</sup>
                   </a>
                  {%endif%}
                {%endwith%}
              {%else%}
                 <span class="error">End quiz not available</span>
              {%endif%}
            {% endwith %}
         </h4></div></div>


         {% else %}
        <div class="panel panel-default"> 
            <div class="panel-heading">
              <h4 class="panel-title error">
                Weeks' videos not available
              </h4>
            </div>
        </div>
         {% endif %}
      </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class = "panel panel-default sharp">
        <div class = "panel-body">
        {% if weeks.items %}
          {% for week,modules in weekly_details.items %}
          <div class="panel-heading center sharp" style="background-color: #337ab7;color:white;font-weight: bold;">Week {{ week }} details</div>
          <br>
          <div class="row course-detail-tab-text" id="week{{week}}details">
          {% for details in modules %}
            <h4>
            {{ details }}
            </h4>
          {% endfor %}
          </div>
        {% endfor %}
      {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} 

{% block footer_css_js %}
{% endblock %}
