{% extends 'new_home.html' %}
{% load static %}
{% load default_tags %}
{% block slider %}
{% endblock %}
{% block body %}
<style type="text/css">
.col8{ height:12px; line-height:12px; width:8.3333%; position:relative; float:left; left:0px; top:0px; border-right: solid 1px #ccc;}
</style>
<script>
$(function() {
 $(document).tooltip({
     open: function(event, ui) {
   $(ui.tooltip).fadeTo(6000,0);
     }
 })
});
</script>

<section id="dash" style="margin-top: 80px;">

<div class="con"  >

<div class="col-lg-4">
<h1 style=" font-weight:400 !important; padding-top:0px ;">ENROLLED COURSES</h1>

<div class="da">
{% if total_courses_enrolled|length == 0 %}
<h4 style=" font-weight:400 !important; text-align:center;">Looks like you haven't enrolled in any courses yet.</h4>
<a href="/allcourses/" style="text-decoration: none;">

<div class="find-courses"> Find Courses Now</div>
</a>
<p style="text-align:center">Check out our recently launched courses and what's new in your favorite subjects<br />
Find New Courses</p> 
{% else %}

<div id="enrolled_courses_div">
{% include 'student/_student_dashboard.html' %}
</div>
{% if total_courses > 3 %}
<a href="javascript:void(0)" id="fetch_enrolled_courses" style="float:right;text-decoration: none;">
More &#43;
</a>
{%endif %}
</div>
{% endif %}
</div>
</div>
</section>

<script>
	var start_at_enrolledcourse = 2;
  var enroll_factor = Math.ceil('{{ total_courses }}'/3);
	$('#fetch_enrolled_courses').click(function(event) {
		$.ajax({
            url : "/fetchmore/enrolledcourses/",
            data : { 'start_at_enrolledcourse' : start_at_enrolledcourse },
            type : "GET",

            success : function(json_from_view) {
              if(json_from_view){
              $('#enrolled_courses_div').append(json_from_view['html']);
              start_at_enrolledcourse = parseInt(json_from_view['start_at_enrolledcourse'])+1;
              if(start_at_enrolledcourse > enroll_factor){
              $('#fetch_enrolled_courses').css('display','none');
          }
            }else{
                alert('Cannot fetch more enrolled courses!!!'); 
            }
            },
            error : function(xhr,errmsg,err) {
                alert('Error in fetching the enrolled courses!!!'); 
        }
        });
	});
</script>
{% endblock %}
