{% extends 'new_home.html' %}
{% load static %}

{% block slider %}
{% endblock %}

{% block body %}
<style type="text/css">
body{ background-color:#e2e2e2 !important ;}


</style>
<section id="dash">



<div class="con"  >


<h1 style=" font-weight:400 !important; margin-top:40px;">ACCOUNT SETTINGS</h1>
<p style=" font-size:13px">
These settings include basic information about your account. You can also specify additional information and see your linked social accounts on this page.
</p>
<div class="da1">


<h1 style=" margin-left:10px;">Basic Account Information (required)</h1>
<form  method="post"  >

      <div class="boss1">
        <div class="text-name1">Username</div>
             <div class="text-name1">Sumit Sharma</div>
 </div>
    
    
     <div class="boss1">
        <div class="text-name1">Full Name </div>
        <input type="text" class="text-sbox" style="border: solid 1px #ccc;" placeholder="Enter username"  name="name" id="sname"/>
 </div>
    
         <div class="boss1">
        <div class="text-name1">Email Id</div>
        <input type="text" class="text-sbox" placeholder="Enter username"  style="border: solid 1px #ccc;" name="name" id="sname"/>
 </div>
    
    
    <div class="boss1">
        <div class="text-name1">Password</div>
        <input type="password" class="text-sbox" name="pwd" value="password" id="spwd"/>
       </div>
    
    
     <div class="boss1">
        <div class="text-name1">Language</div>
        <select class="select1"  style="margin-left:20px;">
            <option>Select</option>
        <option>Hindi</option>
        <option>English</option>
        <option>Bengali</option>
      
                </select> 
        </div>
        
        
        
        
             <div class="boss1">
        <div class="text-name1">Country</div>
        <select class="select1"  style="margin-left:20px;">
            <option>Select</option>
        <option>India</option>
        <option>America</option>
        <option>India 1</option>
        <option>India 2</option>
        <option>India 3</option>
                </select> 
        </div>
        </div>
        
        
        
        <div class="da1" style="margin-top:30px;">
        <h1>Additional Information (optional)</h1>
        
        
        
          <div class="boss1">
        <div class="text-name1">Highest level of education completed</div>
        <select class="select1"  style="margin-left:20px;" >
        <option>Masters in Computer</option>
   <option>Bachelor in Computer</option>
                   </select> 
        </div>    
        
        
        
    
             <div class="boss1">
         
        <div class="text-name1">Gender</div>
        <select class="select1"  style="margin-left:20px;">
        <option>Select</option>
        <option>Male</option>
        <option>Female</option>
                </select> 
        </div>
        
             <div class="boss1">
        <div class="text-name1">Year Of Birth</div>
        <select class="select1"  style="margin-left:20px;">
        <option>2011</option>
          <option>2012</option>
            <option>2013</option>
              <option>2014</option>
                <option>2015</option>
                </select> 
        </div>
         
    
           
             <div class="boss1">
        <div class="text-name1">Language</div>
        <select class="select1"  style="margin-left:20px;">
            <option>Select</option>
        <option>Hindi</option>
        <option>English</option>
        <option>Bengali</option>
      
                </select> 
        </div>
        
        
        </div>
        <div class="da1"  style="margin-top:30px;">
        

     <div class="boss1">
        <h1>Connect Accounts</h1>

                  <div class="boss1">
        <div class="text-name1">Facebook</div>
       <div class="text-name1">Link</div>
       
       </div>

  <div class="boss1">
        <div class="text-name1">Google</div>
       <div class="text-name1">Unlink</div>
       
       </div>


      </div>
</div></div>
 


 




</div></div></section>
{% endblock %}