.navbar-brand > img {
    display: block;
    margin-top: -3% !important;
}
.post-meta .social, .social {
    padding: 0;
    margin-left: 15% !important;
}
.navbar-default .navbar-toggle {
    border-color: #ddd;
    margin-top: 1% !important;
}
.carousel {
    position: initial;
    margin-top: 14% !important;
}
.tp-bgimg {
    background-size: contain !important;
}
#liii{
    margin-left: 53%;
    margin-top: -12% !important;
}
#lii{
    display: none;
}
.modal.in .modal-dialog {
    width: 100%;
}
#qwee{
    margin-top: 15% !important;}