@charset "utf-8";
/* header panel */
html , body{top:0px; left:0px;}
*{  font-family: "Open Sans",Arial,sans-serif;}
body,button,input,select,textarea{font-family: "Open Sans",Arial,sans-serif; font-weight:400;}
/*header*/
#container{ overflow:hidden; position:absolute; top:0px;   width:100%;    max-width: 1600px;  margin: 0 auto;  left: 0;  right: 0; }
header{  height:75px; background-color:#FFF;  border-bottom: solid 1px #ccc;  width: 100%; position:relative; padding-bottom:10px ;  z-index:99 !important;  float: left; left: 0px; padding-top:10px; top: 0px;  }
.con{ width:1020px; display:block; margin:0 auto; }
.con1{ width:1020px; display:block; margin:0 auto; } 
 #menu1{ height:auto; width:auto; padding:0px 25px; margin-top:0px; display:none; float:right; right:20px; font-size:30px; color:#283890}
 #menu1:hover{ cursor:pointer; color:#090;}
 #drop{ height:auto; min-height:40px; width:100%; background-color:#fff; display:none; position:relative; top:-10px; float:left; z-index:9 !important;}
 
 .pop{ height:100%; width:100%; display:none; position:relative; background-color:#222; float:left; left:0px; top:0px; z-index:9 !important}
 .video-pop{ width:1020px; height:100%; background-color:#fff; display:block; margin:0px auto;}
 #clos {   top: 20px; height:auto; width:auto; padding:15px; position:absolute; float:right;  text-align:center; right:20px; cursor:pointer; background-color:#FFF;}
 #clos:hover{ background-color:#666; cursor:pointer;}
.sign-btn{ height:auto; width:180px; text-transform:capitalize; text-align:center; right:15px;   position:relative; float:right; margin-left:10px;  font-size:14px; top:15px; padding:5px; }
.sign-btn:hover{ cursor:pointer; color:#999;}
.sign-btn a { color:#273791 ;}
.register-btn{ height:auto; width:auto; position:relative; float:left; top:20px; margin-left:10px;font-size:14px;   color:#283890 ; padding:5px ; }

.icon {   top: 0px; position: relative; float: left; margin-left: 10px; width: auto;  }
.icon1 {   top: 0px; position: relative; float: left; margin-left: 0px; width: auto;}

.icon2 {   top: 10px; position: relative; float: left; left: 0px; width: auto; font-size: 26px; font-weight:bold; color:#BA2C22 }

.right{ float:right !important;} 
.left{ float:left !important;} 

.jk{ height:auto; width:100% !important}/* Nav Menu */

nav ul{ margin:30px 0; float:left; }

nav ul li { height:28px; width:auto; position:relative; float:left; left:0px; padding:3px 10px; top:-5px;  list-style:none;font-size: 14px; font-weight:600; line-height: 28px; text-transform:uppercase; color:#283890 ; }
nav ul li:hover{ opacity:0.5;   cursor:pointer; }

.licons{ height:auto; width:20px; text-align:center; color:#283890;  margin-left:2px; margin-top:0px; font-size:20px; float:right;}
.dicons{ height:auto; width:20px; text-align:center; color:#283890;  margin-right:0px; margin-top:4px; font-size:15px; float:left;}

.sicons{ height:auto; width:20px; text-align:center; color:#283890; padding:3px 0; margin-left:5px; margin-top:0px; font-size:20px; float:right;}
.search-icon{height:auto; width:20px; padding:10px;float:left; position:relative; color:#ccc; margin-left:-40px;  z-index:999; margin-top:0px !important; font-size:20px; }
.search-icon:hover{ cursor:pointer;  color:#222;}
/*Drop Down*/


.video-panel iframe{ max-width:100%;}


input[type="password"]{ padding:6.5px 20px 8px 20px; color:#222; position:relative; float:left; left:0px; border: solid 1px #ccc; width:250px; top:4px;	}

.select{ height:auto; width:120px; position:relative; border-right:none !important; float:left; padding:6px 10px; font-size:14px;top:4px; border: solid 1px #ccc;}




/*User Drop Down*/
.user-menu{ height:auto; top:40px; width:180px; position:absolute; float:right; right:0px; display:none;border: solid 1px #ccc; background-color:#FFF; z-index:990 !important;}
.user-menu li{ color:#666; width:100%; height:auto;  text-align:center; list-style:none; font-size:13px; padding:10px 0px; border-bottom: solid 1px #ccc; } 
.rotate{ height:20px; width:20px; position:relative; left:80px; top:5px; transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-webkit-transform:rotate(-45deg); border-right: solid 1px #ccc; border-top: solid 1px #ccc}
.line{ height:15px; top:-15px; width:100%; position:relative; float:left; left:0px;}
.user-menu li:hover{ cursor:pointer; background-color:#ccc; color:#000;}


/*User Drop Down - drop*/
.user-menu-1{ height:auto; top:100px; width:180px; position:absolute;left:160px; display:none;border: solid 1px #ccc; background-color:#FFF; z-index:99000000 !important;}
.user-menu-1 li{ color:#666; width:100%; height:auto;  text-align:center; list-style:none; font-size:13px; padding:10px 0px; border-bottom: solid 1px #ccc; } 
.rotate-1{ height:20px; width:20px; position:relative; left:80px; top:5px; transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-webkit-transform:rotate(-45deg); border-right: solid 1px #ccc; border-top: solid 1px #ccc}
.line-1{ height:15px; top:-15px; width:100%; position:relative; float:left; left:0px;}
.user-menu-1 li:hover{ cursor:pointer; background-color:#ccc; color:#000;}


/*Login panel*/

.close-button{ height:auto; padding:5px 10px; background-color:#FFF; width:auto;float:right;margin-bottom: 5px; border: solid 1px #ccc; font-size:20px;}
.close-button:hover{ background-color:#000; color:#FFF; cursor:pointer; border: solid 1px #000;}
#logpanel , #pop{ z-index:999; width:100%; height:100%; position:fixed; float:left; left:0px; top:0px; background-color:rgba(0,0,0,0.6);}

#popup{ height:150px; width:350px; display:block; margin:0px auto; background-color:#fff;  margin-top:200px !important; }
#cbutton{ height:auto; width:auto; padding:6px 30px; position:relative; float:left; margin-left:130px; margin-top:40px; background-color:#000; color:#FFF;}
#cbutton:hover{ background-color:#090; cursor:pointer;}
#popup h3{ text-align:center; position:relative !important; height:30px; width:100%; top:40px !important; font-size:14px; color:#666; }
#login{ height:580px; width:320px; display:block; padding:25px 15px; margin:0px auto; background-color:#fff;  margin-top:60px !important; }
#register{ height:580px; width:320px; padding:25px 15px; display:block; margin:0px auto; background-color:#fff;  margin-top:60px !important; }
#login-show{ height:720px; width:625px; display:block; padding:25px 15px; margin:0px auto; background-color:#fff;  margin-top:0px !important; }

#login-show  .mit{ height:auto; width:90%; margin-left:20px; margin-top:15px; border: solid 2px #000;  font-size:14px; color:#000; font-weight:600; background-color:#FFF; float:left; padding:5px 10px;}
.mit:hover{ background-color:#000; color:#FFF; cursor:pointer;}

#login-show input[type="text"]{ padding:6.5px 20px 8px 20px; color:#222; position:relative; float:left; left:0px; border: solid 1px #ccc; width:90%; top:4px;	}
#login-show input[type="textarea"]{ padding:6.5px 20px 8px 20px; color:#222; position:relative; float:left; left:0px; border: solid 1px #ccc; width:90%; top:4px;	}
#login-show .select1{ padding:6.5px 20px 8px 20px; color:#222; position:relative; float:left; left:20px; border: solid 1px #ccc; width:90%; top:4px;	}
.search-bos input[type="text"]{ font-size:13px !important; font-family:"Open Sans" !important;  padding:6.5px 15px 8px 15px; color:#222; position:relative; float:left; left:0px; border: solid 1px #ccc; width:85%; top:4px;	}

#login-show input[type="password"]{ padding:6.5px 20px 8px 20px; color:#222; position:relative; float:left; left:0px; border: solid 1px #ccc; width:90%; top:4px;}
.all-cou-img{ height:40px; width:40px; position:relative; float:left; }
.all-cou-img img{ margin:0px !important; left:0px;}
.all-cou-img:hover{ cursor:pointer; opacity:0.6;}

.search-bos{ height:42px; padding-left:5px; width:100%; position:relative; top:7px; float:left; left:0px; max-width:310px !important; border: solid 1px #ccc; }

#register input[type="text"] , #login input[type="text"]{ padding:6.5px 20px 8px 20px; color:#222; position:relative; float:left; left:0px; border: solid 1px #ccc; width:80%; top:4px;	}
input[type="password"]{ padding:6.5px 20px 8px 20px; color:#222; position:relative; float:left; left:0px; border: solid 1px #ccc; width:80%; top:4px;	}

.select1{ padding:6.5px 20px 8px 20px; color:#222; position:relative; float:left; left:0px; border: solid 1px #ccc; width:80%;  top:4px;	}



/* Login With*/
.login-with{ height:auto; width:90%; margin:5px 4% ; text-align:center; color:#FFF;  font-size:15px; padding:10px 10px 7px 5px; position:relative; float:left; left:0px; top:20px; bottom:20px; } 
.facebook{ background-color:#3B5998;}
.gmail{ background-color:#DE4C34}
.s{ height:auto; width:auto; position:relative; float:left; top:0px !important ;  padding:2px 8px; left:0px; color:#fff; font-size:20px;}
.login-with:hover{ cursor:pointer; opacity:0.6;}

.boss1{ padding:7px 0; height:auto; min-height:30px;  width:95%; position:relative; float:left;   margin:5px 2.5%; margin-top:5px;  }


#login , #logpanel , #pop{ display:none;}
.boss{ height:auto; width:100%; position:relative; float:left;   margin:5px 0; top:-10px;  }
.boss li{ height:auto; width:auto; position:relative; float:left; margin-left:15px; margin-right:5px; color:#666;  font-family: "Segoe UI",Segoe,Helvetica,Arial,"Lucida Grande",sans-serif !important ; font-size:26px; font-weight:300 !important; list-style:none; }
.boss li:hover { color:#F63; cursor:pointer;}
.boss li.active { color:blue; cursor:pointer;}
 
 #register h3 ,  #login h3 ,   #login-show h3{ text-align:center; width:100%; float:left; height:auto; padding-top:20px; ; position:relative; margin-top:10px;}  
.text-name1{ height:auto; width:40%; position:relative; float:left; left:20px; font-size:15px; color:#000;}

.text-name{ height:auto; width:100%; position:relative; float:left; left:20px; font-size:13px; color:#000;}
.text-sbox{ height:auto; width:80%;  margin-left:20px; margin-top:3px; border: solid 1px #666;  font-size:14px; color:#444; float:left; padding:5px 10px;}
.radioo{ border: solid 1px #ccc; position:relative; float:left; padding:5px;}
.names{ height:auto; width:auto; position:relative; float:left; left:15px; margin-top:5px; margin-right:10px; font-size:14px; color:#000;}

.ssubmit{ height:auto; width:auto; margin-left:20px; margin-top:15px; border: solid 2px #000;  font-size:14px; color:#000; font-weight:600; background-color:#FFF; float:left; padding:5px 10px;}
.ssubmit:hover{ background-color:#000; color:#FFF; cursor:pointer;}


/* Footer panel*/

.ficons{ height:auto; width:20px; text-align:center; color:#283890;  margin-right:4px; margin-top:0px; font-size:17px; float:left;}

.full li{ list-style:none; float:left; left:0px; width:100%; left:-10% !important; height:auto;  padding:10px 0px 7px 0px !important ; border-bottom: solid 1px #ccc; font-size:13px !important;}

footer{ height:auto; width:100%; padding:10px 0 ; position:relative; float:left; left:0px; background-color:#FFF; margin-top:0px; border-top: solid 1px #CCC}

.after-footer{ height:auto; width:100%; padding:20px 0; position:relative; float:left; left:0px; background-color:#222;}
.after-footer p{ font-size:13px !important;  text-align:center; color:#Fff; float:left; width:100%;}


footer ul li { list-style:none; padding:7px 0; text-align:left !important; font-size:13px; color:#666;  }
footer ul li:hover { color:#273791; cursor:pointer;}
footer h5{ height:auto; width:100%;  margin:2px 0; position:relative; float:left; left:0px; text-align:center; padding:22px 10px 0px 10px !important; font-size:16px; color:#283890}

footer p{ font-size:13px !important;  text-align:justify ; float:left; width:100%; color:#666}

.socialicons{ height:auto; width:auto; position:relative; float:left; top:0px !important ; border: solid 1px #ccc; padding:2px 8px; left:10px; 
margin:0px 4px; color:#666; font-size:20px;}
.socialicons:hover{ background-color:#000; color:#fff; cursor:pointer;}

.cons{ width:250px; display:block; margin:0px auto;  }
.cons1{ width:320px; display:block; margin:0px auto;  }



@media(max-width:768px)  {#login-show , #register ,#login{ margin-top:0px !important} }
@media(max-width:480px)  { 
	#logpanel , #pop{  position:absolute !important; background-color:#FFF !important; min-height:1000px !important;}
#login-show , #register ,#login{ width:320px !important; padding:10px 0 0 0 !important;}
#privacy .col-md-50{ height:auto; width:100% !important; padding:0px 0 !important;} .how-img img { padding:0px !important; margin:0px !important;}.how-img{ margin:10px auto !important}
#privacy .col-lg-4{ padding:30px 0 !important;}
.search-bos input[type="text"]{ width:80%;}.search-bos { width:82%; margin-left:10px;}
}



@media(max-width:1019px)  {	#menu , .mm{ display:none;} #menu1{ display:block;} .con{ width:100%;}
 header{ height:80px !important;}
	.icon{ top:-5px !important;  }
	.con{ width:95%; padding:0px 2.5% !important;}
.full , #about .col-sm-3{ width:100% !important;}
		.circle-icon{ margin:0px auto !important; float:none !important; display:block; width:60px;}
.register-login{ margin:10px 0px; float:left; left:0px;}
 header{ height:80px !important; padding-bottom:20px;}
.on2{ display:none;}
#content h1{ margin-top:0px;}
 .box{ margin:20px 5% ;}
#content{ padding-top:40px;}
#fal{ height:0px;}
.join{ width:100%;}#join h1{ text-align:center;},.text_box1 { width:42.5%; margin-left:5%;}
.dline{ width:30%; display:block; margin:20px auto;}.small-orange-btn, .small-btn{ margin:30px auto; display:block; width:90px;}
#isotop nav ul button{ font-size:17px; }
 .slider-content { width:100%; overflow:hidden; }

 header{ height:50px !important;}

 #drop{ border: solid 1px #ccc;}
 #drop .col-md-2{ width:100%; margin:5px 0;  padding-bottom:10px !important;} 
 #drop .col-sm-2{ width:100%; text-align:center !important; padding-bottom:10px !important; margin:5px 0; border-top: solid 1px #ccc;} 
  #drop .col-sm-2 .sign-btn{ text-align:center;}
 footer .col-sm-2{ width:48% !important;  margin:1% !important;} 



 }

@media(max-width:420px)  {
 #course .col-sm-4{ width:90% !important; margin-left:5% !important;  }}


