@charset "utf-8";
/* CSS Document */

* {    box-sizing: border-box;}




.sidebar{width: 210px;    height: 100%;    position: fixed;    background: none repeat scroll 0% 0% #364150;color:#B4BCC8; }

#main-content{margin-left: 210px;}
.wrapper {    display: inline-block; background-color:#E9ECF3;margin-top:50px;    padding: 10px;    width: 100%;}




.col-sm-1 , .col-sm-2 , .col-sm-3 , .col-sm-4 , .col-md-1 , .col-md-2 , .col-md-3 , .col-md-4 , .col-lg-1 ,  .col-lg-2 , .col-lg-3,.col-lg-4 , 
.col-md-50 , .col-md-25 ,  .full { float:left;}

.full{ width:94%; margin-top:0px; border: solid 1px #ccc; padding:10px 3%; background-color:#FFF}
.col-sm-1{ width:8.333333;}
.col-sm-2{ width:16.666667%;}
.col-sm-3{ width:25%; }
.col-sm-25{ width:25%; }
.col-sm-4{ width:33.333333%; }
.col-md-1{ width:41.666667%;}
.col-md-2{ width:50%;}
.col-md-50{ width:50%;}
.col-md-3{ width:58.333333%;}
.col-md-4{ width:66.666667%;}
.col-lg-1{ width:75%;}
.col-lg-2{ width:83.333333%;}
.col-lg-3{ width:91.666667%;}
.col-lg-4{ width:100%;}


.ssd{ margin-top:140px;}
/*Colors*/
.whites{ background-color:#FFF !important;}
.white{ color:#FFF !important;}
.bluegreen{ background-color:#28CDAD;}
.darkorange{ background-color:#CE3D3A;}
.orange{ background-color:#FF6C60;}
.yellow{ background-color:#F8BB3E}
.blue{ background-color:#57C8F2}
.parotgreen{background-color:#A9D96C}
.lightgrey{ background-color:#BFC2CD}
.purple{background-color:#8775A7}
.navyblue{ background-color:#4B77BE}
.green{background-color:#35AA47}
.offwhite{background-color:#B4BCC8}
.pink{background-color:#FE849D}
.lightgreen{ background-color:#7CC52D}
.purpple{background-color:#212030}


scrollbar{
width:150px;
height:300px;
background-color:lightgray;
margin-top:40px;
margin-left:40px;
overflow-y:scroll;
float:left;
}
.content{
height:450px;
} 

#ex3::-webkit-scrollbar {
width:7px;
background-color:#cccccc;
}

#ex3::-webkit-scrollbar-thumb{
background-color:#29CB42;
border-radius:0px;
}
#ex3::-webkit-scrollbar-thumb:hover{
background-color:#BF4649;
border:1px solid #333333;
}
#ex3::-webkit-scrollbar-thumb:active{
background-color:#A6393D;
border:1px solid #333333;
} 

#ex3::-webkit-scrollbar-track{
border:1px gray solid;
border-radius:10px;
-webkit-box-shadow:0 0 6px gray inset;
} 


@media(max-width:1019px)  { .con , .con2{ width:100%; }}


@media(max-width:1019px)  {
	 .col-sm-3  , .col-sm-4 , .col-md-1 , .col-md-2 , .col-md-3 ,  .col-md-4 , .col-lg-1 ,  .col-lg-2 , .col-lg-3,.col-lg-4
 {width:100%;}
  .col-sm-1 img , .col-sm-2 img , { margin:40px auto 0px auto ;}
 h1 , h2 , p , h3 , h4, h5{ text-align:center;}
 #course p { text-align:left !important;} 
  #course .col-sm-4{height:365px !important;}}
 @media(max-width:768px)  {.col-sm-4{ width:49% !important; margin:1%;} }
 
  @media(max-width:360px)  {footer .col-sm-4{ width:100% !important;} }