{%extends 'new_home.html'%}
{% load static %}

{% block head_js_css %}
<style type="text/css">#certificationpolicy .con p{ line-height:22px !important ; color:black;font-size: 16.5px;}</style>
{% endblock head_js_css %}

{% block body %}
<section id="certificationpolicy" style="margin-top:150px;">
<div class="con">
<h1 style="text-align: center;font-size: 36px;">Certification Policy</h1>
<p>eQUEST is an Online Learning Service of QCI. eQUEST offers learning and certification opportunity to its learners. The certification will be at two levels as detailed below :</p><br>
<p>
1. The learning model is designed to enable people to  learn at their own pace  . It also ensures that  the certification process has high integrity and value for the learner and the industry  by making it a two step certification process as detailed below.	
</p>
<p>
	<img alt="Pictute not available" src="/static/custom/img/Stage1-2.png">
</p><br>
<p>
	<h2 style="font-weight: bold;">Stage I   Course Tutorials + * Participation Certificate</h2>
<p>
	Learners will be rewarded with a Participation Certificate  on completion of the course which will be having the grading of performance in form of Star Rating with 5 being the highest grade .
</p>
<p>
	The learner will be required to complete the process and take  all the exams and try to achieve the highest grade they can earn by hard work and focus . The system will be keeping record of the learners performance and give a final star rating based on their final score .The final score will be based on a weighted average score of all the tests undertaken  by the learner . 
</p>
<p>
	Only those learners’ who achieve 4 stars in their final score will be allowed to take the Stage II Professional Certification Exam.
</p>
<p>
	<b>Course Tutorials</b><br> 
Users will be required to complete all the modules in a typical course and spend the required time of 45 minutes per modules to access the next module or the test/quiz as per the course requirement .
</p>
<p>
	<b>Certification Process</b><br> 
After every 4 modules users will be required to go through Inline Tests followed by a Mid term Exam and a Final Exam  within the specified time limits and they will be given the final certificate based on their actuak performance  in all the exams.The Certification policy is detailed in the table below :
</p>
<p>
	<img alt="Pictute not available" src="/static/custom/img/Stage 1 Certification Model.png">
</p>
<p>Important Points to be noted
	<ul style="list-style-type: square;margin-left: 4%;">
<li>After successful completion of each Inline Test  the system will allow  next set of modules to be accessed .</li>
<li>Each Learner has to spend minimum of 45 minutes in each module to access the next module .</li>
<li>The learner needs to score on an average of 4 Star/ 75% or more across the all tests to be eligible for the Professional Certification Exam.</li>
</ul>
</p>
</p>

<p>
	<h2 style="font-weight: bold;">Stage II   Professional Certificate</h2>
	<p>Professional Certification Exams  will be held at various QCI Authorised Testing Centres from time to time  . This will involve additional expenses which will vary from course to course.</p>
	<p>After successful completion the Stage I  Participation  Certificate student desirous of getting a Professional Certificate will need to go in for an on-site proctored exam at any QCI approved testing centre under proctored environment. </p>
	<p>A hard copy certificate will be issued by QCI to successful candidates which can be prominently displayed and used by learners for his professional use.</p>
	<p>The Syllabus of the certification exam will be based on the Stage I Curriculum of a higher standard .Details of the same can become available to the learner once they cross this stage and write to the eQuest Help Desk for details.</p>
	<p>Separate Charges will become applicable for Stage II Exam as well.</p>
</p>

</div>
</section>
{% endblock %}

{% block footer_css_js %}
{%endblock%} 

