
{%extends 'new_home.html'%}
{% load static %}
{%block body%}

<section id="privacy" style="margin-top:20px;">

<div class="con">

<h1>Terms of Service</h1>

<p style="font-size: 16.5px;color:black;">
Welcome to eQuest online Learning Service (hereinafter called eQUEST) by Quality Council of India (QCI). It provides world class training courses in the area of Quality and Skilling which are appropriately designed  for making the Indian people employable and desirable by the Corporate and Government.

Please read Terms carefully, and contact us if you have any questions. By using our Services, you agree to be bound by these Terms, including the policies referenced in these Terms (such as our Privacy Policy & Honor Code). While using eQUEST Service  you agree that :</p>
<br>
1.	You will use eQUEST in compliance with the Terms of Service  , eQUEST Honor Code and all applicable Indian Laws including  Local, State, National laws plus any applicable  International laws, rules and regulations. This will include  Copyright laws, Laws regarding the transmission of technical data exported from your country of residence. 
<br>
<br>
2.	When you create your eQuest account, you must provide us accurate and complete information, and you agree to update your information to keep it accurate and complete. 
<br><br>
3.	You also confirm that you are eligible to take the course as per the eligibility criteria defined in the eligibility tab on Course introduction page.
<br><br>
4.	You have read ,understood and agree with the  Academic  and  Certification Rules and Terms and conditions of the eQUEST Service.
<br><br>
5.	You also agree that you will create, access, and/or use only one user account, and you will not share with any third party access to or access information for/from your account.
<br><br>
6.   That using eQUEST  Services does not give you any ownership / intellectual property rights in eQUEST  Services  or the content you access.
<br><br>
7.   If eQUEST  finds  any unexpected event within its service then eQUEST reserves the right to cancel, interrupt, or reschedule any course or to modify any course content or assessment including cancellation of registration. 
<br><br>
8.   Fee once paid will not be refunded under any circumstances. It is also not be adjustable against any other programme of eQUEST. 
<br><br>
9.   No Cancellation of registration or  migration to another course  is  allowed under any condition . Please see the example below for more clarity.
a. Example  If a candidate has registered for Course A and now wants to take course B then  s/he will have to register afresh for Course B and fee for Course A  will be forfeited.
<br><br>
10.   Payment process is done by an eQuest third party vendor (payment gateway), and you will be re-routed to a secure website to complete the payment transaction. 
<br><br>
11.   Once your payment transaction is completed, you will be re-routed back to the eQuest confirmation page and will also receive a confirmation email with your name, order number and the payment amount. 
<br><br>
12.   Please retain this email for your records as this information will be required if you seek any query about payment.
<br><br>
13.   That furnishing of incorrect information/suppression of information would lead to rejection of registration.
</p>
<br><br>
</div>
</section>
{%endblock%}
