{% load static %}
<hr>
<div class="row">
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
				<div class="row">
					<img src="{% static '/static/images/footer-logo.png' %}" alt="eQuest" width="70">
				</div><br>
				<div class="row">
					<img src="{% static '/static/images/qci-logo.png' %}" alt="qci" width="60">
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-9">
		<div class="row">
		<br>
		</div>
		<div class="row">
		<p class="help-block">
			eQUEST is a service developed and managed by QCI. It provides world class training courses in the area of Quality and Skilling appropriate for making the Indian people employable and desirable for the Corporate and Government.
		</p>
		</div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
		<ul class="help-block footer-list">
			<li><a href="/about/">About</a></li>
			<li><a href="https://disqus.com/home/channel/equest/recent/" target="_blank">Blog</a></li>
			<li><a href="/faq_page/">FAQs</a></li>
			<li><a href="/contact/">Contact</a></li>
<!-- 			<li><a href="/verify/certificate/">Verify Certificate</a></li>
 -->		<li><a href="/certification_policy/">Certification Policy</a></li>	
 		</ul>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
		<ul class="help-block footer-list">
			<li><a href="/termsandservices/">Terms of Service</a></li>
			<li><a href="/privacy_policy/#honorcode">Honor Code</a></li>
			<li><a href="/privacy_policy/">Privacy Policy</a></li>
			<li><a href="/contact/">Contact</a></li>
			<li><a href="/termsandservices/">Accessibility Policy</a></li>
		</ul>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<h5 style="color: blue;">Connect with us</h5>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			</div>
		</div>
		<div class="row connectwithus">
			<br>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<a href="#">
                <i class="fa fa-facebook fa-2x"></i>
                </a>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<a href="#">
                <i class="fa fa-google-plus fa-2x"></i>
                </a>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<a href="#">
                <i class="fa fa-linkedin fa-2x"></i>
                </a>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<a href="#">
                <i class="fa fa-twitter fa-2x"></i>
                </a>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			</div>
		</div>
	</div>
</div>
<div class="row">
</div>