<!-- {% load static %}
<footer id='lms_footer'>
<div class="con">
<div class="col-md-1" style=" margin-left:0px;">
<div class="col-sm-3"><div class="icon1" style=" margin-top:0px; " ><img src="{%static '/static/images/footer-logo.png'%}" alt="eQuest"   width="70"></div>
<div class="icon1" style="margin-top:0px !important; " ><img src="{%static '/static/images/qci-logo.png'%}" alt="qci"   width="60">
</div>
</div>
<div class="col-md-4">
<p style="text-align:justify !important ; padding-top:10px ;">eQUEST is a service developed and managed by QCI , It provides world class training courses in the area of Quality and Skilling appropriate for making the Indian people employable and desirable for the Corporate and Government .” . </p>
</div></div>

<div class="col-sm-2">
<ul>
<a href="/about/" style=" text-decoration:none;"><li>About </li></a>
<a href="https://disqus.com/home/channel/equest/recent/" target="_blank" style=" text-decoration:none;"><li> Blog  </li></a>
<a href="/faq_page/" style=" text-decoration:none;"><li> FAQs  </li></a>
<a href="/contact/" style=" text-decoration:none;"><li> Contact  </li></a>
<a href="/verify/certificate/" style=" text-decoration:none;"><li> Verify Certificate </li></a>
</ul>
</div>
<div class="col-sm-2">
<ul>
<a href="/termsandservices/" style=" text-decoration:none;"><li>Terms of Service</li></a>
<a href="/privacy_policy/#honorcode" style=" text-decoration:none;"><li>Honor Code</li></a>
<a href="/privacy_policy/" style=" text-decoration:none;"><li>Admission Policy </li></a>
<a href="/termsandservices/" style=" text-decoration:none;"><li>Accessibility Policy</li></a>
<a href="/certification_policy/" style=" text-decoration:none;"><li> Certification Policy</li></a>
</ul> 
</div>
<div class="col-sm-3" style=" margin-left:0px;">
<div class="cons">
<h5>Connect With Us</h5>

<div class="sreview-img" style="margin-left:48px;"><img src="{%static '/static/images/icons/Facebook-50.png'%}"height="100%" width="100%" style=" border-radius:50%"></div>
<div class="sreview-img"  ><img src="{%static '/static/images/icons/Google Plus-50.png'%}" height="100%" width="100%" style=" border-radius:50%"></div>
<div class="sreview-img"><img src="{%static '/static/images/icons/LinkedIn-50.png'%}" height="100%" width="100%"style=" border-radius:50%"></div>
<div class="sreview-img"><img src="{%static '/static/images/icons/Twitter-50.png'%}" height="100%" width="100%" style=" border-radius:50%"></div>
</div>
</div>
</div>
</footer> -->