    <div class='col-md-12'>
                      <div class="col-md-offset-1 col-md-9">
                         {% if login_error %}
                         <p class="login_err" style="color:red;margin-top:0%;font-size:17px;">Please enter valid username or password</p> 
                         {%endif%}
                         </div>
                     </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <a  class="socialaccount_provider facebook" href="/accounts/facebook/login/?process=login">
                   <button class="btn btn-md btn-primary" style="font-size:15px;float: left;">Login With Facebook</button>
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">

                <a  class="socialaccount_provider facebook" href="/accounts/google/login/?process=login">
                 <button class="btn btn-md btn-success" style="font-size:15px;float: right;">Login With Google</button>
                </a>
            </div>

        </div>
        <div class="login-or">
            <hr class="hr-or">
            <span class="span-or">or</span>
        </div>
    <form class="form-horizontal " action="/user/login/" method="POST" id="login_form">

        <div class="form-group">
            <input type="text" id="username" name="username" placeholder="User name" class="form-control">
            <input type="text" id="next" name="next" value="{{next|default:'/home/'}}" placeholder=""
                   class="form-control hidden">
            {% csrf_token %}
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password"
                   placeholder="Password">
        </div>
        <input type="submit" name="" value="Sign Up" id="Sign_up" class="button_drop">
    </div>
    </form>
    