{%extends 'new_home.html'%}

{% block head_js_css %}
{% endblock %}

{%block body%}
<div class="container aboutpage" >
<div class="row center">
<h1>About</h1>
</div>
<div class="row">
<p> CLAT is an Online learning portal by QCI. CLAT is designed  help Indian professionals  to strengthen their of Quality management and assessments skills along with application of these concepts to real life scenario. Courses available on the portal will assist the learners  to improve their skills and knowledge thereby  enhancing their career prospects . 
</p>
</div><hr>
<div class="row center">
<h1>Our Mission</h1>
</div>
<div class="row">
<p>
Today there are lots of institutes which offer courses but the core quality skills are not comprehensively taught . CLAT aims to fill this gap and offer courses on quality management and assessments thereby building a fully trained people force to implement ZED and Make in India vision of the PM  comprehensively . Further by completing these courses learners can improve their career prospects  and job opportunities as well.
</p>
</div><hr>
<div class="row center">
<h1>How it works</h1>
</div>
<div class="row">
<ul class="list-group">
	<li class="list-group-item">
		<p>1.  At CLAT students will be taught courses as per the choice of the students.  The students will be undergoing time bound  courses which can be taught online and they can take the courses  at their own pace .</p>
	</li>
	<li class="list-group-item">
		<p>2.  All the courses will be split into modules of fixed durations . After every 3 modules students will need to complete an inline quiz where they have to acquire 75% marks or more  to be able to move to the next module .</p>
	</li>
	<li class="list-group-item">
		<p>3.  There will be a mid term exam and a final exam after completion of all the modules. Students need to score 75% or more marks to be eligible for a participation certificate .</p>
	</li>
	<li class="list-group-item">
		<p>4.  The learning will will be delivered using a combination of  E-lectures, video lectures, info graphics  along with comprehensive assessments  and case studies based learning .</p>
	</li>
	<li class="list-group-item">
		<p>5.  As stated above state-of-art online assessments will be an integral part of the CLAT learning process and  may have an option for online proctoring to ensure that cheating and other forms of frauds are eliminated and under control .</p>
	</li>
	<li class="list-group-item">
		<p>6.  When student will complete the online  course they will be eligible to take the physical program which will be conducted at various approved QCI sites followed by an online proctored assessment Those clearing the final physical at site program will be eligible to receive a competency certificate for the course attended .</p>
	</li>
</ol>
</div>
<div class="row"></div>
<div>
</div>
{%endblock%}

{% block footer_css_js %}
{% endblock %}
