{%extends 'new_home.html'%}

{% block head_js_css %}
{% endblock %}

{%block body%}
<div class="container-fluid certification">
	<div class="row">
		<div class="row">
			<h2 class="center">Certification Policy</h2>
			<p>eQUEST is an Online Learning Service of QCI . eQUEST offers learning and certification opportunity to its learners. The learning model is designed to enable people to learn at their own pace  . It also ensures that  the certification process has high integrity and value for the learner and the industry by making it a two step certification process as detailed below.
			</p>
		</div><br>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3"></div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<img alt="Picture not available" src="/static/custom/img/Stage1-2.png" width="100%">
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3"></div>
		</div><br><br>
		<div class="row certificates-categories">
			<h3>Stage I   Course Tutorials + * Participation Certificate </h3>
			<p>
			<strong>1.&nbsp;Learners will be rewarded with a Participation Certificate on completion of the course which will be having the grading of performance in form of Star Rating with 5 being the highest grade.
				</strong> The learner will be required to complete the process and take  all the exams and try to achieve the highest grade they can earn by hard work and focus . The system will be keeping record of the learners performance and give a final star rating based on their final score .The final score will be based on a weighted average score of all the tests undertaken  by the learner .
				<strong>Only those learners’ who achieve 4 stars in their final score will be allowed to take the Stage II Professional Certification Exam.</strong>
			</p>
			<p>
				<strong>2.&nbsp;Course Tutorials</strong><br>
					Users will be required to complete all the modules in a typical course and spend the required time of 45 minutes per modules to access the next module or the test/quiz as per the course requirement.
			</p>
			<p>
				<strong>3.&nbsp;Certification Process</strong><br> 
				After every 4 modules users will be required to go through Inline Tests followed by a Mid term Exam and a Final Exam  within the specified time limits and they will be given the final certificate based on their actuak performance  in all the exams.
			</p>
			<p>
				<img alt="Picture not available" src="/static/custom/img/Stage 1 Certification Model.png" width="100%">
			</p>
			<p>
				<strong>4.&nbsp;Important Points to be noted </strong>
				<ul style="margin-left: 10%;">
					<li>After successful completion of each Inline Test  the system will allow  next set of modules to be accessed.</li>
					<li>Each Learner has to spend minimum of 45 minutes in each module to access the next module.</li>
					<li>The learner needs to score on an average of 4 Star/ 75% or more across the all tests to be eligible for the Professional Certification Exam.</li>
				</ul>
			</p>
			<br>
			<h3> Stage II   Professional Certificate</h3>
			<p>
				<strong>1.&nbsp;Professional Certification Exams  will be held at various QCI Authorised Testing Centres from time to time  . This will involve additional expenses which will vary from course to course.</strong>
			</p>
			<p>
				2.&nbsp;After successful completion the Stage I  Participation  Certificate student desirous of getting a Professional Certificate will need to go in for an on-site proctored exam at any QCI approved testing centre under proctored environment . 
			</p>
			<p>
				3.&nbsp;A hard copy certificate will be issued by QCI to successful candidates which can be prominently displayed and used by learners for his professional use.
			</p>
			<p>
				4.&nbsp;The Syllabus of the certification exam will be based on the Stage I Curriculum of a higher standard .Details of the same can become available to the learner once they cross this stage and write to the eQuest Help Desk for details.
			</p>
			<p>
				5.&nbsp;Separate Charges will become applicable for Stage II Exam as well.
			</p>

		</div>
	</div><br><br>
	<div class="row">
	<h6>
		<strong>*</strong>&nbsp;This will be an Honour certificate which indicate that the learner has earned passing grades in a course, but no extra steps such as verifying his/her identity were completed and all the exams were conducted in an non proctored environment. Only Soft copy of the certificate will be issued to successful candidates whose authenticity will be verifiable from eQUEST Site. 
	</h6>
	</div>
</div>
{%endblock%}


{% block footer_css_js %}
{% endblock %}


