{%extends 'new_home.html'%}
{% load static %}

{% block head_js_css %}
<style>
.errorlist li{
  color: red;
  font-size: 15px;
}
</style>
{% endblock %}
{%block body%}
<div class='row container contact'>
<div class="row center" style="margin-bottom: 20px;">
  <h1>Contact Us</h1><hr>
</div>

<div class="col-md-12 col-sm-12">

  <div class="col-sm-4 col-sm-12" >
      <p style='color: black;'>
      Hi, already an eQUEST student? Do you have questions, suggestions, or issues about a specific course?<br> 
      Please post it on your course’s discussion forum.<br>

      Not a student yet and have a general question about eQUEST?<br> 
      Please visit our FAQ’s.<br>
      Still need help or want to give us general feedback (which we want), contact us below.
      </p>
      <hr>
      <p style='color: blue;'>Quality Council of India<br></p>
      <h5>
      Institution of Engineers Building, <br>IIndFloor, 
      2 - Bahadur Shah Zafar Marg,<br> New Delhi - 110002, India. <br><br>
      Email: talktous@equest.co.in<br>
      </h5>
  </div>

<div class="col-md-5 col-sm-12" id="login-show" style='margin-bottom: 30px;'>
<form method="post" action="/contact/">
{% csrf_token %}
<div class="row">
              <label for="email">Email <span style="color:red;">*</span></label>
          <input type="email" class="form-control sharp" placeholder="username@domainname"  name="email" id="sname" required/>
          <span id="luname" style="color:#F00;"></span>
          <p>{{errors.email}}</p>
          </div><br>

    <div class="row">
          <label for="email">Full Name <span style="color:red;">*</span></label>
          <input type="text" maxlength="30" class="form-control sharp" placeholder="Enter username"  name="fullname" id="sname" required/>
          <span id="luname" style="color:#F00; display:none; font-size:14px; font-family: Calibri; margin-left:20px;"></span>
          <p>{{errors.fullname}}</p>
          </div><br>

<div class="row">
        <label for="email">Phone Number </label>
        <input type="text" pattern="[789]\d{9}" class="form-control sharp" placeholder="9999504540"  name="phone" id="sname"/>
        <span id="luname" style="color:#F00; display:none; font-size:14px; font-family: Calibri; margin-left:20px;"></span>
         <p>{{errors.phone}}</p>
         </div><br>

<div class="row">
        <label for="iama">I am a - </label>
        <select class="form-control sharp" name="iama">
            <option value = 'Student'>Student</option>
            <option value = 'Professor'>Professor</option>
            <option value = 'Journalist'>Journalist</option>
            <option value = 'UniversityAdministrator'>University Administrator</option>
        </select>
         <p>{{errors.iama}}</p>
         </div><br>


<div class="row">
        <label for="inquirytype">Inquiry Type <span style="color:red;">*</span></label>
        <select class="form-control sharp" name="inquirytype" required>
            <option value="registration">Question about Registration and Activation</option>
            <option value="technical">I am having a Technology Problem</option>
            <option value="accessibility">Question about Accessibility for students with disabilities</option><option value="exams">Question about Certification and Exams</option>
            <option value="account">My account details need changing</option>
            <option value="university">Business development / Institutional inquiry</option>
            <option value="harrassment">Report unethical or harassing conduct</option>
            <option value="other">Other...</option>
        </select>
        <p>{{errors.inquirytype}}</p>
        </div><br>

<div class="row">
        <label for="message">Message <span style="color:red;">*</span></label>
        <textarea type="text" class="form-control sharp" placeholder="Enter Message"  name="message" id="sname" minlength="30" maxlength="500" required></textarea>
        <span id="luname" style="color:#F00; display:none; font-size:14px; font-family: Calibri; margin-left:20px;margin-top:5px"></span>
        <p>{{errors.message}}</p>
        </div><br>
<div class="row">
        <input type="submit" class="btn btn-primary sharp"  name="login" id="" value="Contact Now">
        </div>
    </form>
</div>
</div>
</div>
{%endblock%}

{% block footer_css_js %}
{%endblock%} 
