{% load static %}
{% load is_owner_tags %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <link rel="icon" href="{% static 'logo/Equest_DarkBlue_Symbol.gif' %}" type="image/jpg"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="{%static '/static/eq/eqq/css/style.css' %}" />
    
        <title>Clat</title>

    <link rel="stylesheet" type="text/css" media="only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="{%static '/static/eq/eqq/small.css' %}" />


    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{%static '/static/eq/eqq/css/stroke.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static '/static/eq/eqq/css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static '/static/eq/eqq/css/animate.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static '/static/eq/eqq/css/carousel.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static '/static/eq/eqq/css/prettyPhoto.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static '/static/eq/eqq/style.css'%}">
    
    <!-- COLORS -->
    <link rel="stylesheet" type="text/css" href="{%static '/static/eq/eqq/css/custom.css'%}">

    <!-- RS SLIDER -->
    <link rel="stylesheet" type="text/css" href="{%static '/static/eq/eqq/rs-plugin/css/settings.css'%}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{%static '/static/custom/css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static '/static/custom/css/star_support.css' %}">
    {%block header_css_js%}

    {%endblock%}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        
   
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
    <script src="{%static '/static/eq/eqq/js/bootstrap.min.js'%}"></script>
    <!-- // <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.1.3/mustache.js"></script> -->
</head>
<body>
<div id="wrapper">  
{% if messages %}
        <ul class="messages">
            {% for message in messages %}
             <div class="alert alert-dismissable" style="position:fixed;top:0;left:0;width:100%;text-align:center;z-index:100000;font-size:20px;font-weight:bold;background-color:black;">
                    <span style="color:{% if message.tags == 'success' %}green{% elif message.tags == 'info' %}yellow{% elif message.tags == 'error' %}red{% endif %};">
                        {{ message.tags|upper }} :
                    </span>
                   <span style="color:white;">{{ message }}</span>
                    </div>
            {% endfor %}
        </ul>
{% endif %}

<!-- Modal -->
{% include '_lgn_reg_modal.html' %}
<!-- end modal -->
    <header class="header clearfix" style="height: 90px;">
        <div class="container">
                <nav class="yamm navbar navbar-default">
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                         <span class="sr-only">Toggle navigation</span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home/"><img src="{%static '/static/eq/eqq/ee.gif'%}" alt="" style=""></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            
                            {% if not  user.is_authenticated%}
                                <li><a href="javascript:void(0);" data-toggle="modal" data-target="#myModal" class="login_signup"><i class="fa fa-power-off"> </i> Signup/Login </a></li>
                            {%else%}
                                {%if not user|is_verify%}
                                    <li style="text-align:center;margin-top:6%;">
                                        <button type="button" id="vrf_btn" style="margin:1px;background-color: peru;" class="btn btn-info btn-lg hidden" data-toggle="modal" data-target="#acc_verify">Verify Your Account Now</button>
                                          {%include '_verify_account.html'%}
                                      </li>
                                {%endif%}
                                <li style="text-align:center;"><a href="/logout/">Logout</a></li>
                                <!-- <li style="text-align:center;"><a href="/upload/course/">Upload Course</a></li> -->
                                <li><a href="#"><i class="fa fa-user">&nbsp;&nbsp;&nbsp; </i>{{user}}</a></li>
                            {%endif%}
                            
                            <li class="noborder">
                                <div id="dmsearch" class="dmsearch">
                                    <form id="searchform" action="#" method="get">
                                        <div class="dm-search-container">
                                        <input id="s" class="dmsearch-input" name="s" value="" placeholder="Search" type="text">
                                        </div>
                                        <input id="go" class="dmsearch-submit" value="" type="submit">
                                        <span class="fa fa-search"></span>
                                    </form> <!-- end searchform -->
                                </div><!-- end search -->
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </nav><!-- end nav -->
            </div>
    </header><!-- end header -->



{%block body%}
     <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
    {%block slider%}
        <div class="carousel-inner" role="listbox">

          <div class="item active">
            <img src="{%static '/static/eq/eqq/Banner_1.jpg'%}" alt="Chania" style="width: 100%;" height="345">
            <div class="carousel-caption">
              <button value="GO" class="btn btn-primary" style="height: 50PX;width: 150PX;" data-toggle="modal" data-target="#how_work_m">
                How it work ?
            </button>
              <!-- <p>The atmosphere in Chania has a touch of Florence and Venice.</p> -->
            </div>
          </div>

          <div class="item">
            <img src="{%static '/static/eq/eqq/Banner_2.jpg'%}" alt="Chania" style="width: 100%;" height="345">
            <div class="carousel-caption">
              <!-- <h3>Chania</h3> -->
              <!-- <p>The atmosphere in Chania has a touch of Florence and Venice.</p> -->
            </div>
          </div>
        
          <div class="item">
            <img src="{%static '/static/eq/eqq/Banner_3.jpg'%}" alt="Chania" style="width: 100%;" height="345">
            <div class="carousel-caption">
              <!-- <h3>Flowers</h3> -->
              <!-- <p>Beatiful flowers in Kolymbari, Crete.</p> -->
            </div>
          </div>
        </div>


        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
        {%endblock%}  
        {%block how_wrk%}
        <script>
            function closeyt() {
                var video = $("#youtube-video").attr("src");
                $("#youtube-video").attr("src", "");
                $("#youtube-video").attr("src", video);
            }
        </script>
        <div id="how_work_m" class="modal fade" role="dialog"
                 style="overflow-y:hidden;height:100%;background-color:transparent;">
                <div class="modal-dialog modal-sm modal-lg" style="height: 90%;width: 80%;margin: auto;">

                    <!-- Modal content-->
                    <div class="modal-content" style="height: 100%;">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" style="color:red;" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title">How It Works ?</h4>
                        </div>
                        <div class="modal-body" style="height: 80%">
                            <iframe id="youtube-video" style="height: 100%;width: 100%;"
                                    src="https://www.youtube.com/embed/PO6WyU7BxX0?enablejsapi=1&rel=0&iv_load_policy=3"
                                    frameborder="0" enablejsapi="1" allowfullscreen></iframe>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-lg btn-danger " data-dismiss="modal"
                                    onclick="closeyt()">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {%endblock%}
<section class="section-white" style="padding: 2% 0;">
            <div class="container">

            <h1 style="text-align: center;">Most Popular Courses</h1>
                
                {% block course_list %}
                <div class="row courses-list" id='uniqe'>
                    {%block course%}
                      {%include 'course_mang/course_list.html'%}
                    {%endblock%}
                </div>
                {% endblock %}
                
            </div><!-- end container -->
        </section>


        

{%endblock%}
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget about-widget wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                            <div class="widget-title">
                                <h4>About</h4>
                            </div><!-- end widget-title -->
                            
    <a class="navbar-brand" href="#"><img src="{%static '/static/eq/eqq/e.jpg'%}" alt="" style="    width: 37%;"></a>

                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-md-3 col-sm-6">
                        <div class="widget about-widget wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                            <div class="widget-title">
                                <h4>Latest Courses</h4>
                            </div><!-- end widget-title -->
                                               <ul>
                                <li id="ftrlist"><a href="">About Us</a>   </li>
                            <li id="ftrlist"><a href="">Blog</a>   </li>
                            <li id="ftrlist"><a href="">FAQ's</a>   </li>
                            <li id="ftrlist"><a href="">Contact Us</a>   </li>
                                                  </ul>



                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-md-3 col-sm-6">
                        <div class="widget about-widget wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                            <div class="widget-title">
                                <h4>Popular Tags</h4>
                            </div><!-- end widget-title -->
                              <ul>
                                                        <li id="ftrlist"><a href="">Sitemap</a>   </li>
                            <li id="ftrlist"><a href="">Terms of Service</a>   </li>
                            <li id="ftrlist"><a href="">Privacy policy</a>   </li>
                            <li id="ftrlist"><a href="">Accessibility Policy</a>   </li>
                                                  </ul>

                        </div><!-- end widget -->

                        <div class="widget about-widget wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                            <div class="widget-title">
                                <h4>Follow Us</h4>
                            </div><!-- end widget-title -->
                            
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-md-3 col-sm-6">
                        <div class="widget about-widget wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                            <div class="widget-title">
                                <h4>Latest Tweets</h4>
                            </div><!-- end widget-title -->
                            <ul class="social">
                                <li class="facebook" ><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end section-white -->

        <section class="copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <p>All Rights Reserved © Clat | Designed By <a href="#">e-quest</a></p>
                    </div><!-- end col -->
                    <div class="col-md-6 col-sm-12">
                        <ul class="footer-menu list-inline text-right">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Purchase</a></li>
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end copyrights -->
        
    </div><!-- end wrapper -->

    <!-- Modal for delete action confirmation --><!-- 
    <div class="modal fade" style="animation: none;overflow: visible;" id="confirm_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 style="font-style: bold;color:black;text-align: center;" id="modal_header">Confirm your action!</h2>
            </div>
            <div class="modal-body" id="modal_body_content">
                <h2>Do you really want to delete the video? If yes, then click on delete button.</h2>
                <p id="course_name"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn" style="background-color:#F3162F;font-style: bold;color:black;" id="confirm">Delete</a>
            </div>
        </div>
    </div>
</div>


<script>
    
        //For Modal's Delete button action confirmation
     $('#confirm_modal').on('show.bs.modal', function(e) {
         $('html,body').animate({scrollTop:0},0);
         $('#course_name').html('Video to be deleted : '+$(e.relatedTarget).data('course-name'));
         $(this).find('#confirm').attr('href',$(e.relatedTarget).data('delete-href'));
});
</script>
-->


    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{%static '/static/eq/eqq/js/jquery.leanModal.min.js' %}"></script>
    <script>jQuery.noConflict();</script>
    {%block footer_css_js%}
    {%endblock%}
    <script src="{%static '/static/eq/eqq/js/retina.js'%}"></script>
    <script src="{%static '/static/eq/eqq/js/wow.js'%}"></script>
    <script src="{%static '/static/eq/eqq/js/carousel.js'%}"></script>
    <script src="{%static '/static/eq/eqq/js/progress.js'%}"></script>
    <script src="{%static '/static/eq/eqq/js/parallax.js'%}"></script>
    <script src="{%static '/static/eq/eqq/js/jquery.prettyPhoto.js'%}"></script>
    <script src="{%static '/static/eq/eqq/js/custom.js'%}"></script>
    <script src="{% static '/static/custom/js/footer_js.js'%}"></script>
    <!-- SLIDER REV -->
    <script src="{%static '/static/eq/eqq/rs-plugin/js/jquery.themepunch.tools.min.js'%}"></script>
    <script src="{%static '/static/eq/eqq/rs-plugin/js/jquery.themepunch.revolution.min.js'%}"></script>
    {% if login_error %}
     <script>
       $('.login_signup').trigger('click',function(){alert('ok...')});
       $('.sign_in').trigger('click',function(){});
     </script>
  {% endif %}
  
  {% if register_error %}
     <script>
       $('.login_signup').trigger('click',function(){alert('ok...')});
       $('.sign_up').trigger('click',function(){});
     </script>
  {% endif %} 
  {% if request.session.not_verify %}
     <script>
       $('#vrf_btn').trigger('click',function(){alert('ok...')});
     </script>
  {% endif %}
  
    <script>
    $(".alert").fadeTo(4000, 500).slideUp(1000, function(){
    $(".alert").alert('close');
    });
            //Search bar
            $(function () {
                "use strict";
                $("#searchDropdownBox").change(function () {
                    var Search_Str = $(this).val();
                    //replace search str in span value
                    $("#nav-search-in-content").text(Search_Str);
                });
            });
            $("#state").change(function(event) {
            $.ajax({
                    url : "/load_cities/",
                    data : { 'state' : $(this).val()},
                    type : "GET",

                    success : function(json_from_view) {
                                    $('#city').html('');

                for(var i=0;i<json_from_view.length;i++){
                $('#city').append('<option value="'+json_from_view[i]+'">'+json_from_view[i]+'</option>');
                }
                    },
                    error : function(xhr,errmsg,err) {
                        $('#results').html("Cities are not loading!!!"); 
                }
                });

            });
            </script>
    <script>
   /* ==============================================
    SLIDER -->
    =============================================== */   
    jQuery('.tp-banner').show().revolution(
    {
    dottedOverlay:"none",
    delay:16000,
    startwidth:1170,
    startheight:665,
    hideThumbs:200,     
    thumbWidth:100,
    thumbHeight:50,
    thumbAmount:5,  
    navigationType:"none",
    navigationArrows:"solo",
    navigationStyle:"preview3",  
    touchenabled:"on",
    onHoverStop:"on",
    swipe_velocity: 0.7,
    swipe_min_touches: 1,
    swipe_max_touches: 1,
    drag_block_vertical: false,          
    parallax:"mouse",
    parallaxBgFreeze:"on",
    parallaxLevels:[7,4,3,2,5,4,3,2,1,0],            
    keyboardNavigation:"off",   
    navigationHAlign:"center",
    navigationVAlign:"bottom",
    navigationHOffset:0,
    navigationVOffset:20,
    soloArrowLeftHalign:"left",
    soloArrowLeftValign:"center",
    soloArrowLeftHOffset:20,
    soloArrowLeftVOffset:0,
    soloArrowRightHalign:"right",
    soloArrowRightValign:"center",
    soloArrowRightHOffset:20,
    soloArrowRightVOffset:0,  
    shadow:0,
    fullWidth:"on",
    fullScreen:"off",
    spinner:"spinner4",  
    stopLoop:"off",
    stopAfterLoops:-1,
    stopAtSlide:-1,
    shuffle:"off",  
    autoHeight:"off",           
    forceFullWidth:"off",                         
    hideThumbsOnMobile:"off",
    hideNavDelayOnMobile:1500,            
    hideBulletsOnMobile:"off",
    hideArrowsOnMobile:"off",
    hideThumbsUnderResolution:0,
    hideSliderAtLimit:0,
    hideCaptionAtLimit:0,
    hideAllCaptionAtLilmit:0,
    startWithSlide:0
    });   
    </script>
    
        
        
</body>

</html>