    {% extends 'index.html' %}
    {%block add_head_block %}
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="477896339861-8b009kjlkrrglotl9b2hpcngdf1i482j.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    {%endblock%}
    {%block body_banner%}
    <script>
        $(function () {
            $("#myemailform").validate(
                    {
                        rules: {
                            username: {
                                required: true
                            },
                            password: {
                                required: true,
                            }
                        },
                        messages: {
                            username: {
                                required: "Please enter your username"
                            },
                            password: {
                                required: "Please enter your password."
                            }
                        }
                    });
        });


    </script>
    <div class="login_form" style="margin-top: 5%;margin-left: 20%;margin-right: 20%;">
        {% if login_error %}
        <div style="background-color: antiquewhite">
            <h4 style="color: brown;margin: 10px;font-size: 20px;">We couldn't log you in.</h4>
            <ul>
                <li style="">Please enter valid username or password</li>
            </ul>
            <p style="background-color: brown;height: 5px;"></p>
        </div>
        {%endif%}
        <form class="form-horizontal " action="/user/login/" method="POST" id="myemailform"
              style="width:70%;margin-left: 15%;">
            <fieldset>
                <div id="legend">
                    <legend>
                        <div class="section-title lines">
                            <h2>
                                <span class="text">Sign in</span>
                            </h2>
                        </div>
                    </legend>
                </div>
                <div class="control-group" style="margin-top:10px;">
                    <!-- Username -->
                    <label class="" for="username">Username</label>

                    <div class="controls">
                        <input type="text" id="username" name="username" placeholder="" class="form-control">
                        <input type="text" id="next" name="next" value="{{next|default:'/home/'}}" placeholder=""
                               class="form-control hidden">
                        {% csrf_token %}
                        <!--<p class="help-block">Username can contain any letters or numbers, without spaces</p>-->
                    </div>
                </div>

                <div class="control-group" style="margin-top:10px;">
                    <!-- Password-->
                    <label class="" for="password">Password</label>

                    <div class="controls">
                        <input type="password" id="password" name="password" placeholder="" class="form-control">

                        <!--<p class="help-block">Password should be at least 4 characters</p>-->
                    </div>
                </div>

                <div class="control-group" style="margin-top:10px;">
                    <!-- Button -->
                    <div class="controls">
                        <button type="submit" class="btn-block btn btn-primary" style="font-size:20px;">Login</button>
                        <!--<div id="my-signin2" style="margin-top: 10px;"></div>-->
                    </div>
                </div>
                    </fieldset>

    </form>
                    <div class="container">
                                <p style="text-align: center;">OR</p>
                                <div class="row">
                                    <!-- Button -->
                                                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                    <a  class="socialaccount_provider google" href="/accounts/google/login/?process=login">
                        <button class="btn btn-block btn-primary" style="font-size:15px;background:green;">Login With Google</button>
                    </a>
                    </div>
                    <div class="col-md-4">
                    <a  class="socialaccount_provider facebook" href="/accounts/facebook/login/?process=login">
                        <button class="btn btn-block btn-primary" style="font-size:15px;">Login With Facebook</button>
                    </a>
                    </div>
                                    <div class="col-md-2"></div>

                
                </div>
                </div>
    <br>
    <hr>
    <div class="container">
              <div class="row">
        <div class="col-md-12" style="text-align:center;font-size:24px;">Not having an account?</div>
        </div><br>
                  <div class="row">

            <div class="col-md-12">    <a href="/register/" style="text-align: center;" class="btn btn-primary btn-block">Create a new Account</a>
    </div>

    </div>
    </div>
    {%endblock%}
    {%block courses_list %}
    {%endblock%}