{% load static %}
{% load is_owner_tags %}
{% load default_tags %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CLAT</title>
<!-- <link rel="icon" type="image/gif" href="{% static '/static/logo/Equest_DarkBlue_Symbol.gif' %}"> -->

<!-- build:css styles/main.css -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link href="{% static '/static/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static '/static/css/bootstrap-social.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" media="screen" href="{% static '/static/custom/css/notifIt.css' %}">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{% static '/static/custom/css/mystyles.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.2.1/nouislider.min.css" rel="stylesheet">
<!-- endbuild -->
<!-- build:js styles/main.js -->
<script src="{% static '/static/js/jquery.min.js' %}"></script>
<script src="{% static '/static/js/bootstrap.min.js' %}"></script> 
<script src="{% static '/static/custom/js/notifIt.min.js' %}"></script>
<script src="https://raw.githubusercontent.com/wenzhixin/bootstrap-show-password/master/bootstrap-show-password.min.js"></script>
<script src="{% static '/static/custom/js/myscripts.js' %}"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.2.1/nouislider.min.js"></script>
<!-- endbuild -->

{% block head_js_css %}
    
{% endblock head_js_css %}
</head> 
<header> 
<nav class="navbar navbar-default navbar-static-top custom-navbar">
<div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Logo for md,lg view -->
      <div class="hidden-xs">
        <a class="navbar-brand" href="{% if user.teacher %}/teacher/{% else %}/home/{% endif %}">
              <strong>CLAT</strong>
        </a>
      </div>
      <!-- End -->
      <!-- Logo for Mobile view -->
      <div class="hidden-md hidden-lg hidden-sm">
        <a class="navbar-brand" href="{% if user.teacher %}/teacher/{% else %}/home/{% endif %}">
            <strong>CLAT</strong>
        </a>
      </div>
      <!-- End -->
    </div>
    <div class="collapse navbar-collapse navbar-left" style='margin-top:1%;color:black;' id="navbar">
      <ul class="nav navbar-nav navbar-side-right" id="normal-view-navbar-collapse">
<!--         <li><a href="#">Link</a></li>
 -->        <li class="dropdown">
             {% if not user.is_authenticated %} 
            <div class="sign-btn e_regid" id="e_regid">
              <a style="font-size:18px;text-align: center"  id="action" href="javascript:void(0)" onclick="$('#loginRegisterModal').modal({ keyboard: false, backdrop: 'static' });">
                Login/Register
              </a>
            </div>
             {% else %}
              <div class="dropdown">
                  <p data-toggle="dropdown" style='font-size:16px;' id="action">{{user}}
                      <span class=" glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                  </p>
                  <ul class="dropdown-menu sharp">
                      {% if user.teacher and not user.teacher.is_superuser %}
                        <li><a href="/teacher/">My Courses</a></li>
                        <!-- <li><a href="/profile/">Profile</a></li> -->
                      {% elif user.is_superuser %}
                        <li><a href="/anaylse/">Anaylse</a></li>
                      {% else %}
                        <li><a href="/goal/list/">Test Gym</a></li>
                        <li><a href="/dashboard/">My Courses</a></li>
                        <li><a href="/profile/">Profile</a></li>
                        <li><a href="/certificates/">Certificate</a></li>
                      {% endif %}
                        <li class="divider"></li>
                        <li><a href="/logout/">Sign Out</a></li>
                  </ul>
              </div>
            {% endif %}
            </li>
      </ul>

      <form class="navbar-form navbar-center"  style='margin-left:10%;' role="search" id="search_course_form" action="/allcourses/" method="get">
        <div class="input-group form-group" id="search_box" style='color:white;' title="Type course name to search.">
          <span class="input-group-addon sharp" title="Click to view all courses.">
          <a href="/allcourses/" style=" text-decoration:none">
            <span class="glyphicon glyphicon-th fa-2x" style='color:#0066ff;'></span>
          </a>
          </span>
        <input type="text" name="course_name" id="course_name" class="form-control input-lg sharp" placeholder="Search for Courses" autocomplete="off" required>
        <span class="input-group-addon sharp" id="search_link">
          <a href="javascript:void(0);">
            <span class="glyphicon glyphicon-search fa-2x"></span>
          </a>
        </span>
      </div>
      </form>

      <div class="nav navbar-nav navbar-side-right" id="mobile-view-navbar-collapse" style="margin-top: -110px;">
        <table class="table table-hover" style="margin-left: 20%;margin-right: 20%;width:70%;">
          <thead>
          {% if not user.is_authenticated %}
          <tr id="action">
            <th><a style="font-size:18px;text-align: center;" href="javascript:void(0)" onclick="$('#loginRegisterModal').modal({ keyboard: false, backdrop: 'static' });">
                Login/Register
              </a></th>
          </tr>
          {% else %}
            <tr>
              <th class="center">{{user|title}}</th>
            </tr>
          </thead>
          <tbody>
            {% if user.teacher and not user.teacher.is_superuser %}
            <tr>
              <td><a href="/teacher/">My Courses</a></td>
            </tr>
            <tr>
              <td><a href="/profile/">Profile</a></td>
            </tr>
            {% elif user.is_superuser %}
            <tr>
              <td><a href="/anaylse/">Anaylse</a></td>
            </tr>
            {% else %}
            <tr>
              <td><a href="/dashboard/">My Courses</a></td>
            </tr>
            <tr>
              <td><a href="/profile/">Profile</a></td>
            </tr>
            <tr>
              <td><a href="/certificates/">Certificate</a></td>
            </tr>
            {% endif %}
            <tr>
              <td><a href="/logout/">Sign Out</a></td>
            </tr>
            {% endif %}
          <tr><td class="center">
          <form class="navbar-form" role="search" id="search_course_form_mobile_view" action="/allcourses/" method="get">
              <div class="input-group form-group" id="search_box_1" style='color:white;' title="Search course here">
                <span class="input-group-addon sharp" title="Click to view all courses.">
                <a href="/allcourses/">
                  <span class="glyphicon glyphicon-th fa" style='color:#0066ff;'></span>
                </a>
                </span>
              <input type="search" name="course_name" id="course_name_1" class="form-control input-md sharp" placeholder="Search here..." autocomplete="off" required>
              <span class="input-group-addon sharp" id="search_link_1">
                <a href="javascript:void(0);">
                  <span class="glyphicon glyphicon-search fa"></span>
                </a>
              </span>
            </div>
            </form>
            </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</nav>
</header>

<div id="confirmModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <p id="confirm_message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirm_action">Agree</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_action">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div id="loginRegisterModal" class="modal fade" tabindex="-1" role="dialog">
{% if login_error %}
<input type="hidden" value="{{login_error}}" id="login_error">
{% endif %}
  <div class="modal-dialog modal-md">
      <div class="modal-content">
          <div class="modal-header login-register-header center">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close"><span class="glyphicon glyphicon-remove-circle"></span></button>
              <label class="modal-title welcome-msg">Welcome to CLAT</label>
          </div>
          <div class="modal-body">
              <div class="row center">
                <div class="col-lg-5 col-md-5 col-xs-3 col-sm-5">
                  <hr>
                </div>
                <div class="col-lg-2 col-md-2 col-xs-6 col-sm-2">
                  <label class="font-20">Sign In</label>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-3 col-sm-5">
                  <hr>
                </div>
                <br>
              </div>
              <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1">
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                <form  action="/user/login/" method="POST" role="form" id="login_form">
                {% csrf_token %}
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input type="text" class="form-control sharp" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control sharp" id="password" name="password" data-toggle="password" required>
                      <p style="font-size: 12px;margin-top: 4px;"><a href="/troubleshoot/student/" style="text-decoration: none;float: left;">Forgot Credentials?</a><br></p>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="remembered" value="true"> Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block sharp" style="border-radius:none;">Login</button>
                  </form>
              </div>
                  <div class="col-lg-1 col-md-1 col-sm-1">
                  </div>
              </div><br>

              <div class="row center">
                <div class="col-lg-4 col-md-4 col-xs-1 col-sm-4">
                  <hr>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-9 col-sm-4">
                  <label class="font-20">or sign in with</label>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-1 col-sm-4">
                  <hr>
                </div>
                <br>
              </div>
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-1">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 glink">
                  <a class="btn btn-block btn-social btn-google-plus sharp" href="/accounts/google/login/?process=login">
                   <span class="fa fa-google-plus"></span> 
                   Google
                  </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-5 fblink">
                  <a class="btn btn-block btn-social btn-facebook sharp" href="/accounts/facebook/login/?process=login">
                   <span class="fa fa-facebook"></span> 
                   Facebook
                  </a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1">
                </div>
              </div><hr>
              <div class="row center">
                <label class="font-20">New to CLAT?</label>
              </div>
              <div class="row center">
                <div class="col-lg-1 col-md-1 col-sm-1">
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                <a class="btn btn-block btn-info sharp" href="/register/">
                  Register Here
                </a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                </div>
              </div>

    </div>
}
</div>
</div>
</div>

<div id="aboutVideoModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header login-register-header center">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Close"><span class="glyphicon glyphicon-remove-circle"></span></button>
              <label class="modal-title welcome-msg">About CLAT</label>
          </div>
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PO6WyU7BxX0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
      </div>
    </div>
</div>

<body>
<div class="start container">
{% block body %}
<div class="row">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-xs-1 col-sm-2">
                  </div>
                  <div class="col-lg-8 col-md-8 col-xs-10 col-sm-8">
                    <br><br>
                    <h2>An <strong>CLAT</strong> For <strong>Digital India</strong> Through Quality, Employability  Skill And Training.</h2>
                    <button type="button" class="btn aboutbutton sharp">About CLAT</button>
                  </div>
                  <div class="col-lg-2 col-md-2 col-xs-1 col-sm-2">
                  </div>
                </div>
            </div>
            
            <div class="item">
              <div class="row">
              <div class="col-lg-2 col-md-2 col-xs-1 col-sm-2">
              </div>
              <div class="col-lg-8 col-md-8 col-xs-10 col-sm-8">
              <br><br>
                <h2>Nation's <strong>First</strong> Intelligent e-Quality  Learning Management System  Hosting <strong>Online Certification.</strong></h2>
                <button type="button" class="btn aboutbutton sharp">About CLAT</button>
              </div>
              <div class="col-lg-2 col-md-2 col-xs-1 col-sm-2">
              </div>
              </div>
            </div>
            <div class="item">
            <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-1 col-sm-2">
            </div>
            <div class="col-lg-8 col-md-8 col-xs-10 col-sm-8">
            <br><br>
              <h2>If "Quality is Your  Goal Statement, Then It's <strong>Our Mission To Help You</strong> Achieve That".</h2>
              <button type="button" class="btn aboutbutton sharp">About CLAT</button>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-1 col-sm-2">
            </div>
            </div>
            </div>
        </div>
    </div>
</div>


<br>
<div class="row center course-list-heading">
  {% if user.teacher %}
    <h1>Your Courses</h1>
  {% else %}
    <h1>Our Most Popular Courses</h1>
  {% endif %}
</div>
<br>
<div class="container-fluid">
<div class="row">
<div class="col-lg-1 col-md-1 col-sm-1">
</div>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
<div class="row">
  {% include 'course_mang/course_list.html' %}
</div>
<div class="col-lg-1 col-md-1 col-sm-1">
</div>
</div>
</div>
</div>
{% endblock %}

{% block footer_css_js %}
<script>
$(document).ready(function($) {
  $('.aboutbutton').click(function(event) {
  $('#aboutVideoModal').modal({ keyboard: false, backdrop: 'static' });
  });
  if(Boolean($('#login_error').val()) === true){$('#loginRegisterModal').modal('show');}
});

</script>
{%endblock%}
</div> 
<!-- End body starter DIV here -->
<script>
  function showConfirmModal(action, confirm_message, form, cancel_message){
    $('#confirm_message').html(' '+confirm_message);
    $('#confirmModal').modal({ keyboard: false, backdrop: 'static' });
    $('#confirm_action').click(function(event) {
      if(action === "refreshPage" && form == null){
        $('#confirm_action').html('Click to refresh');
        window.location = window.location;
      }
      else if(action === "infoMessage" && form == null){
        $('#confirmModal').modal('hide');
      }
      else{
        console.log(form,$(form));
        $(form).submit();
      }
    });
    $('#cancel_action').click(function(event) {
      $('#confirmModal').modal('hide');
      notif({
            type: "info",
            msg: cancel_message,
            position: "center",
            timeout : 3000,
            });
    });
    return true;
  }
  function checkForCourseName(target_id){
  if(target_id === 'search_link_1'){
  if($('#course_name_1').val().replace(/ /g,'')===''){
      return false;
    }
  }
  if(target_id === 'search_link'){
  if($('#course_name').val().replace(/ /g,'')===''){
      return false;
    }
  }
  return true;
}


$(function() {

  $('#search_link').click(function(event) {
    if(!checkForCourseName(event.currentTarget.id))    
      return false;
    $('#search_course_form').submit();
  });
  $('#search_link_1').click(function(event) {
    if(!checkForCourseName(event.currentTarget.id))    
      return false;
    $('#search_course_form_mobile_view').submit();
  });

  $("#course_name").autocomplete({
    source: "/get/course_names/",
    minLength: 2,
    select: function(event, ui) {
            var url = ui.item.value;
            if(url != '#') {
                location.href = '/allcourses/?course_name=' + url;
            }
        }

  });
   $("#course_name_1").autocomplete({
    source: "/get/course_names/",
    minLength: 2,
    select: function(event, ui){
            var url = ui.item.value;
            if(url != '#'){
                location.href = '/allcourses/?course_name=' + url;
            }
        }

  });

  $.ui.autocomplete.prototype._renderItem = function (ul, item) {        
        var t = String(item.value).replace(
                new RegExp(this.term, "gi"),
                "<span class='ui-state-highlight' style='color:blue;'>$&</span>");
        return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a>" + t + "</a>")
            .appendTo(ul);
    };
});
</script>
</body>
{% include '_notifications.html' %}


<!-- End of block body ....... -->
<footer>
  {% include '_footer.html' %}
  <!-- In <body> -->
</footer>
</html>
