{% extends 'new_home.html' %}
{% load static %}

{% block head_js_css %}
{% endblock %}


{% block body %}
<div class="container passwordreset" style="margin-bottom: 80px;">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3">
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
		<div class="row">
			<form action="{{ request.get_full_path }}" role="form" method="post" id="change_password_form">
			{% csrf_token %}
			    <div class="form-group">
			        <label for="new_password" style='margin-left:2%'>New Password</label><br>
			        <input class="form-control" type="password" class="text-sbox" name="new_password" id="new_password" placeholder="Enter new password here..." required>
			    </div>
			    <div class="form-group">
			        <label for="confirm_password" style='margin-left:2%'>Confirm Password</label><br>
			        <input  class="form-control" type="password" class="text-sbox" name="confirm_password" id="confirm_password" placeholder="Confirm password...", required>
			    </div>
			    <div class="form-group">
					<button type="submit" class="btn btn-block btn-primary">Change</button>
				</div>
			</form>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3"></div>
	</div>
</div>

{% block footer_css_js %}
<script src="{% static '/static/custom/js/reset_password.js' %}"></script>

{%endblock%}

{% endblock %}