{% extends 'new_home.html' %}
{% load static %}

{% block slider %}
{% endblock %}


{% block body %}
<div class="boss" style="margin-bottom: 60px;">
</div>
<section style="margin: 5% 25% 15% 25%">
<form action="{{ request.get_full_path }}" method="post" id="change_password_form">
{% csrf_token %}
    <div class="boss">
        <label for="new_password" style='margin-left:2%'>New Password</label><br>
        <input type="password" class="text-sbox" name="new_password" id="new_password" placeholder="Enter new password here..." required>
    </div>
    <div class="boss">
        <label for="confirm_password" style='margin-left:2%'>Confirm Password</label><br>
        <input type="password" class="text-sbox" name="confirm_password" id="confirm_password" placeholder="Confirm password...", required>
    </div>
    <button type="submit" class="ssubmit">Change</button>
</form>
</section>
<div class="boss" style="margin-bottom: 95px;">
</div>
{% block courses_list %}
{% endblock %}


{% block footer_css_js %}
<script src="{% static '/static/custom/js/reset_password.js' %}"></script>

{%endblock%}

{% endblock %}