{%extends 'new_home.html'%}
{% load static %}
{% block head_js_css %}
<style type="text/css">#privacy .con p{ line-height:22px !important ; color:black;font-size: 16.5px;}</style>
{% endblock head_js_css %}
{%block body%}
<section id="privacy" style="margin-top:10px;">
<div class="con">
<h1>Admission Policy</h1>
<p>Clat Admission policy is designed to be user friendly and easy to implement .The details are given below</p><br>
<h2>Admission</h2>
<p>Admissions to all the course except those explicitly specified will be done on the basis of the eligibility criteria defined in the course introduction page . </p><br>
<p>Please ensure that you are eligible for the course . </p><br>
<p>The learners  will need to apply for admission as per the process defined from time to time .</p>
<br>
	<h2>Personal Information - Learner Integrity</h2>
<p>Learners personal Information - Clat being an online program and follows Honour Code that works on trust .</p>
<p>Based on this Honour code QCI will  take all the information shared  by the Learner on its face value . </p>
<p>However if at any time during the course and after the course as well if it is discovered that false information has been provided by the learner then QCI holds the right to cancel the certificate and blacklist the candidate for any future programs of QCI and inform appropriate authorities QCI deems fit . 
</p>
<h1 id="honorcode">Honor Code</h1>
<p>
All participants in the Clat course must agree to the following code of conduct:<br />
•	They will maintain only one account.<br />
•	They will complete all (Quiz, Mid-term & Final) exams with their own work.<br />
•	They will not submit their work to any other person.<br />
•	They will not engage in any activity that will dishonestly improve their result or hurt the results of the others.<br />
•	They will not post answers to problems that are being used to assess participant  performance.<br />
</p>
<p style="margin-bottom: 5%;">
Note: This Honor code will be review on timely manner and any changes to this code will be effective immediately. So be sure to this page periodically to ensure with the most current version of Honor Code.<br />
</p>

</div>
</section>
{%endblock%}