{% extends 'new_home.html' %}
{% block head_js_css %}
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"/>
    <script>
$(document).ready(function() {
$(function() {
$("#d_o_b").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "-115:+0",
        // minDate: "+20Y",
        maxDate: "-15Y",
});
});
});
</script>
{% endblock %}

{% block body %}
<section id="re">
  <div id="login-show">
    <div class="boss">
      <li class="lo1" style=" text-align:center !important; width:100% !important ">Create an eQuest account</li>
    </div>
    <form  method="post" action="/register/student/" autocomplete="off" id="reg_form" autocomplete="off">
            {% csrf_token %}
      <div class="boss">
        <div class="text-name">User Name <span style='color:red'>*</span></div>
        <input type="text" class="text-sbox" placeholder="Enter your username" value="{{form.username.value|default:''}}"  name="username" id="username"/>
        <span id="luname" style="color:#F00; display:none; font-size:14px; font-family: Calibri; margin-left:20px;margin-top:5px"></span> 
      </div>
      <span style="color:red;">{{form.username.errors}}</span>
    
     <div class="boss">
        <div class="text-name">Full Name <span style='color:red'>*</span></div>
        <input type="text" class="text-sbox" placeholder="Enter full_name"  name="full_name" id="fullname" 
        value="{{form.full_name.value|default:''}}"/>
        <span id="luname" style="color:#F00; display:none; font-size:14px; font-family: Calibri; margin-left:20px;margin-top:5px"></span> 
     </div>
     <span style="color:red;">{{form.full_name.errors}}</span>

     <div class="boss">
        <div class="text-name">Email <span style='color:red'>*</span></div>
        <input type="text" class="text-sbox" placeholder="username@domainname"  name="email" id="email" value="{{form.email.value|default:''}}" autocomplete="off">
        <span id="luname" style="color:#F00; display:none; font-size:14px; font-family: Calibri; margin-left:20px;margin-top:5px"></span> 
     </div>
    <span style="color:red;">{{form.email.errors}}</span>
    <div class="boss">
        <div class="text-name">Password <span style='color:red'>*</span></div>
        <input type="text" autocomplete="off" style='display:none'/>
        <input type="password" autocomplete="off" style='display:none'/>
        <input type="password" class="text-sbox" name="password" id="password" placeholder = 'Enter your password' value=''  autocomplete="off"/>
        <span style="color:#F00;font-size:14px;font-family: Calibri;  margin-left:20px;margin-top:5px" id="lpwd"></span> <span class="text-name" id="error" style="color:#F00; margin-top:5px "></span> 
    </div>
    <span style="color:red;">{{form.password.errors}}</span>

    <div class="boss">
        <div class="text-name">Phone Number <span style='color:red'>*</span></div>
        <input type="text" class="text-sbox" name="phone_number" value="{{form.phone_number.value|default:''}}" id="phone_number" placeholder = 'Enter your phone number' maxlength="10" autocomplete="off"/>
        <span style="color:#F00;font-size:14px;font-family: Calibri;  margin-left:20px;margin-top:5px" id="lpwd"></span> <span class="text-name" id="error" style="color:#F00; margin-top:5px "></span>
    </div>
        <span style="color:red;">{{form.phone_number.errors}}</span>
    
     <div class="boss">
        <div class="text-name" id="country">Country <sup style="font-size: 10px;color: blue;">Presently, only India is available.</sup></div>
        <select class="select1" name="country">
        <option value="India">India</option>
        </select> 
     </div>
     <span style="color:red;">{{form.country.errors}}</span>
        
     <div class="boss">
        <div class="text-name">State<span style='color:red'>*</span></div>
                    <select name="state" id="state" class="text-sbox" style="width:90%;" onchange="getCities();">
                        <option value="">-- Select one --</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Pondicherry">Pondicherry</option>
                        <option value="Haryana">Haryana</option>                      
                        <option value="Punjab">Punjab</option>
                        <option value="Goa">Goa</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Daman and Diu">Daman and Diu</option>
                        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Assam">Assam</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Lakshadweep">Lakshadweep</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="West Bengal">West Bengal</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>                
                    </select>

                </div>
                <span style="color:red;">{{form.state.errors}}</span>   
                <div class="boss">
                  <div class="text-name {%if form.city.errors%}has-error{%endif%}">City<span style='color:red'>*</span></div>
                    <div class=" {%if form.city.errors%}has-error{%endif%}">
                        <select class="text-sbox" style="width:90%;" name="city" id="city">
                                                <option value="">-- Select one --</option>

                        </select>
                        <span style="color:red;">{{form.city.errors}}</span>
                    </div>
                </div>
                                    <span style="color:red;">{{form.city.errors}}</span>
             <div class="boss">
         
        <div class="text-name">Gender<span style="color:red;">*</span></div>
        <select id = 'gender' class="text-sbox" style="width:90%;" name="gender">
        <option value="">Select</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
                </select> 
        </div>
        <span style="color:red;">{{form.gender.errors}}</span>
        
             <div class="boss">
        <div class="text-name">Date Of Birth<span style='color:red'>*</span></div>
        <input type="text" name="d_o_b" class="text-sbox" style="width:90%;" id="d_o_b" onchange="$(this).focusin();$(this).focusout();" placeholder="Please select Birth Date" value="{{form.d_o_b.value|default:''}}">
        </div>
        <span style="color:red;">{{form.d_o_b.errors}}</span>
         
    
         <div class="boss {%if form.higher_education.errors%}has-error{%endif%}">
            <div class="text-name">Highest level of education completed<span style='color:red'>*</span></div>
            <select class="select1" name="higher_education" id="higher_education">
              {% include '_education.html' %}
            </select> 
        </div>
        <span style="color:red;">{{form.higher_education.errors}}</span>

     <div class="boss {%if form.street1.errors%}has-error{%endif%}">
        <div class="text-name">Street 1 <span style='color:red'>*</span></div>
        <input type="text" class="text-sbox" style="width:90%;" id="street1" name="street1" placeholder="Enter your Street" value="{{form.street1.value|default:''}}">
    </div>
        <span style="color:red;">{{form.street1.errors}}</span>

     <div class="boss {%if form.street2.errors%}has-error{%endif%}">
        <div class="text-name">Street 2</div>
        <input type="text" class="text-sbox" style="width:90%;" id="street2" name="street2" placeholder="Enter your Street (optional)" value="{{form.street2.value|default:''}}">
    </div>
        <span style="color:red;">{{form.street2.errors}}</span>
      
     <div class="boss {%if form.pincode.errors%}has-error{%endif%}">
        <div class="text-name">Pincode <span style='color:red'>*</span></div>
        <input type="text" class="text-sbox" style="width:90%;" id="pincode" name="pincode" placeholder="Enter your Pincode" maxlength="6" value="{{form.pincode.value|default:''}}">
    </div>
        <span style="color:red;">{{form.pincode.errors}}</span>

      <div class="boss">
        <div class="text-name" style=" text-align:center !important; width:100% !important;">
        {% if form.i_agree.value %}
        <input type="checkbox" name="i_agree" id="i_agree" checked>
         {% else %}
        <input type="checkbox" name="i_agree" id="i_agree">{% endif %}I agree to the eQuest <a href="/termsandservices/" target="_blank">Terms of Service</a>  <span style='color:red'>*</span>
        </div>
      </div>
        <span style="color:red;">{{form.i_agree.errors}}</span>

      <div class="boss">
        <input type="submit" class="mit"  name="login" id="login_form" value="Create your Account"/>
      </div>
      <div class="boss">
        <div class="text-name" style=" text-align:center !important; width:100% !important;"> <span style='color:red'>*</span> Required Fields</div>
      </div>
    </form>


 <div class="boss">
        <div class="text-name" style="width:100%; text-align:center;"> Already have Account ?</div>
         <a href='/home/' class="mit" style="text-align:center;">Sign in</a>
      </div>
  </div>
</section>
{%endblock%}
{% block footer_css_js %}
<script>
$('#d_o_b').keydown(function() {
  //code to not allow any changes to be made to input field
  return false;
});

  function getCities(){
           //AJAX GET request for loading cities when a state in selected or changed
            $.ajax({
                    url : "/load_cities/",
                    data : { 'state' : $('#state').val()},
                    type : "GET",

                    success : function(json_from_view) {
                      $('#city').empty().html('');
                       $('#results').empty().html('');
                for(var i=0;i<json_from_view.length;i++){
                $('#city').append('<option value="'+json_from_view[i]+'">'+json_from_view[i]+'</option>');
                }
                //For selecting the value of city
                if('{{value_city}}')
                  $('#city > option[value="{{value_city}}"]').prop('selected', true);

                   },
                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        $('#results').html("Cities are not loading!!!"); 
                            //console.log(xhr.status + ": " + xhr.responseText);         }
                }
                });
          }

//For pre-selection of cities and state in case of errors
$(document).ready(function(){
  setState();
  setGender();
  setDOB();
  setEducation();
  //AJAX GET request for loading cities when a state is selected or changed
  document.getElementById('state').onchange = getCities;
  $('.errorlist').css('list-style-type','none');

});

function setGender(){
  if('{{ form.gender.value }}'){
     $('#gender > option[value="{{ form.gender.value }}"]').prop('selected', true);
   }
 }

function setEducation(){
  if('{{form.higher_education.value}}'){
     $('#higher_education > option[value="{{form.higher_education.value}}"]').prop('selected', true);

   }
 }

function setState(){
  //For selecting the value of state
if ('{{value_state}}'){
    $('#state > option[value="{{value_state}}"]').prop('selected', true);
    getCities();
 }
}

function setDOB(){
  if('{{value_d_o_b}}'){
      $('#d_o_b').text('{{value_d_o_b}}');
    }
}
</script>

{%endblock%} 
