{% extends 'new_home.html' %}
{% load static %}
{% block head_js_css %}
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"/>
    <script>
$(document).ready(function() {
$(function() {
$("#d_o_b").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "-50:+0",
        // minDate: "+20Y",
        maxDate: "-15Y",
});
});
});
</script>
{% endblock %}

{% block body %}
<div class="container-fluid" style="margin-top:50px;">
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <h2 class="text-center hidden-xs">Create an CLAT account</h2>
      <h4 class="text-center hidden-md hidden-lg">Create an CLAT account</h4>
    </div>
    <div class="row">
    <form  method="post" action="/register/student/" role="form" id="reg_form" autocomplete="off">
            {% csrf_token %}
      <div class="form-group">
        <label for="username">Username <span class="error">*</span></label>
        <input type="text" class="form-control sharp" placeholder="Enter your username" value="{{form.username.value|default:''}}"  name="username" id="username"> 
      <p class="error">{{form.username.errors}}</p>
      </div>
    
     <div class="form-group">
        <label for="fullname">Full Name <span class="error">*</span></label>
        <input type="text" class="form-control sharp" placeholder="Enter full_name"  name="full_name" id="fullname" 
        value="{{form.full_name.value|default:''}}">
        <p class="error">{{form.full_name.errors}}</p>
     </div>

     <div class="form-group">
        <label for="email">Email <span class="error">*</span></label>
        <input type="text" class="form-control sharp" placeholder="username@domainname.com"  name="email" id="email" value="{{form.email.value|default:''}}" autocomplete="off">
        <p class="error">{{form.email.errors}}</p>
     </div>

    <div class="form-group">
        <label for="password">Password <span class="error">*</span></label>
        <input type="text" autocomplete="off" style='display:none'/>
        <input type="password" autocomplete="off" style='display:none'/>
        <input type="password" class="form-control sharp" name="password" id="password" placeholder = 'Enter your password' value='' autocomplete="off"/>
      <p class="error">{{form.password.errors}}</p>
    </div>

    <div class="form-group">
        <label for="phone_number">Phone Number <span class="error">*</span></label>
        <input type="text" class="form-control sharp" name="phone_number" value="{{form.phone_number.value|default:''}}" id="phone_number" placeholder = 'Enter your phone number' maxlength="10" autocomplete="off"/>
        <p class="error">{{form.phone_number.errors}}</p>
    </div>
    
     <div class="form-group">
        <label for="country">Country <sup style="font-size: 10px;color: blue;">Presently, only India is available.</sup></label>
        <select class="form-control" name="country" id="country">
          <option value="India">India</option>
        </select>
        <p class="error">{{form.country.errors}}</p>
     </div>
        
     <div class="form-group">
        <label for="state">State<span class="error">*</span></label>
                    <select name="state" id="state" class="form-control sharp" onchange="getCities();">
                        <option value="">-- Select one --</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Pondicherry">Pondicherry</option>
                        <option value="Haryana">Haryana</option>                      
                        <option value="Punjab">Punjab</option>
                        <option value="Goa">Goa</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Daman and Diu">Daman and Diu</option>
                        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Assam">Assam</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Lakshadweep">Lakshadweep</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="West Bengal">West Bengal</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>                
                    </select>
                <p class="error">{{form.state.errors}}</p>   
                </div>

                <div class="form-group">
                  <label for="city">City<span class="error">*</span></label>
                  <select class="form-control sharp" name="city" id="city">
                    <option value="">-- Select one --</option>
                  </select>
                  <p class="error">{{form.city.errors}}</p>
                </div>
             <div class="form-group">
                <label for="gender">Gender</label>
                <select id='gender' class="form-control sharp" name="gender">
                  <option value="">Select</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
                <p class="error">{{form.gender.errors}}</p>
              </div>
        
            <div class="form-group">
              <label for="d_o_b">Date Of Birth<span class="error">*</span></label>
              <input type="text" name="d_o_b" class="form-control sharp" id="d_o_b" onchange="$(this).focusin();$(this).focusout();" placeholder="Please select Birth Date" value="{{form.d_o_b.value|default:''}}">
              <p class="error">{{form.d_o_b.errors}}</p>
            </div>
    
         <div class="form-group">
          <label for="higher_education">Highest level of education completed<span class="error">*</span></label>
          <select class="form-control" name="higher_education" id="higher_education">
            {% include '_education.html' %}
          </select> 
          <p class="error">{{form.higher_education.errors}}</p>
        </div>

        <div class="form-group">
          <label for="street1">Street 1 <span class="error">*</span></label>
          <input type="text" class="form-control sharp" id="street1" name="street1" placeholder="Enter your Street" value="{{form.street1.value|default:''}}">
        <p class="error">{{form.street1.errors}}</p>
        </div>
        <div class="form-group">
          <label for="street2">Street 2 <span class="error">*</span></label>
          <input type="text" class="form-control sharp" id="street2" name="street2" placeholder="Enter your Street" value="{{form.street2.value|default:''}}">
        <p class="error">{{form.street2.errors}}</p>
        </div>
      
       <div class="form-group">
          <label for="pincode">Pincode <span class="error">*</span></label>
          <input type="text" class="form-control sharp" id="pincode" name="pincode" placeholder="Enter your Pincode" maxlength="6" value="{{form.pincode.value|default:''}}">
          <p class="error">{{form.pincode.errors}}</p>
      </div>
      <div class="row hidden-xs">
        <div class="col-lg-5 col-md-5 col-sm-5">
          {% if form.i_agree.value %}
        <input class="right" type="checkbox" name="i_agree" id="i_agree" checked>
         {% else %}
        <input class="right" type="checkbox" name="i_agree" id="i_agree">
        {% endif %}
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7">
          <label for="i_agree">
            I agree to the CLAT <a href="/termsandservices/" target="_blank">Terms of Service</a><span class="error">*</span>
          </label>
        </div>
      </div>
      <div class="row hidden-md hidden-lg text-center">
        <div class="row">
            {% if form.i_agree.value %}
          <input type="checkbox" name="i_agree" id="i_agree" checked>
           {% else %}
          <input type="checkbox" name="i_agree" id="i_agree">
          {% endif %}
          </div>
          <div class="row">
            <label for="i_agree">
              I agree to the CLAT <a href="/termsandservices/" target="_blank">Terms of Service</a><span class="error">*</span>
            </label>
          </div>
      </div>


      <div class="form-group">
        <input type="submit" class="btn btn-block btn-primary sharp" name="login" id="login_form" value="Create your Account">
      </div>
      <div class="form-group">
        <p class="text-center"><span class="error">*</span> Required Fields</p>
      </div>
    </form>
</div><hr>
 <div class="row">
  <p class="text-center"> Already have Account ?</p>
  <a href='javascript:void(0);' class="btn btn-block btn-info sharp" onclick="$('#loginRegisterModal').modal({ keyboard: false, backdrop: 'static' });">Sign in</a>
</div>
</div>
<div class="col-md-2"></div>
<br><hr>

  </div>
</div>
{% endblock %}

{% block footer_css_js %}
<script src="{% static '/static/custom/js/login_register.js' %}"></script>
<script>
$('#d_o_b').keydown(function() {
  //code to not allow any changes to be made to input field
  return false;
});

function getCities(){
   //AJAX GET rCLAT for loading cities when a state in selected or changed
    $.ajax({
            url : "/load_cities/",
            data : { 'state' : $('#state').val()},
            type : "GET",

            success : function(json_from_view) {
              $('#city').empty().html('');
               $('#results').empty().html('');
        for(var i=0;i<json_from_view.length;i++){
        $('#city').append('<option value="'+json_from_view[i]+'">'+json_from_view[i]+'</option>');
        }
        //For selecting the value of city
        if('{{value_city}}')
          $('#city > option[value="{{value_city}}"]').prop('selected', true);

           },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("Cities are not loading!!!"); 
                    //console.log(xhr.status + ": " + xhr.responseText);         }
        }
        });
        }

//For pre-selection of cities and state in case of errors
$(document).ready(function(){
  setState();
  setGender();
  setDOB();
  setEducation();
  //AJAX GET rCLAT for loading cities when a state is selected or changed
  document.getElementById('state').onchange = getCities;
});

function setGender(){
  if('{{ form.gender.value }}'){
     $('#gender > option[value="{{ form.gender.value }}"]').prop('selected', true);
   }
 }

function setEducation(){
  if('{{form.higher_education.value}}'){
     $('#higher_education > option[value="{{form.higher_education.value}}"]').prop('selected', true);

   }
 }

function setState(){
  //For selecting the value of state
if ('{{value_state}}'){
    $('#state > option[value="{{value_state}}"]').prop('selected', true);
    getCities();
 }
}

function setDOB(){
  if('{{value_d_o_b}}'){
      $('#d_o_b').text('{{value_d_o_b}}');
    }
}
</script>

{%endblock%} 