{% extends 'index.html' %}
{%block body_banner%}
<div class="" style="margin-top: 5%;margin-left: 20%;margin-right: 20%;">
    {% if form.errors %}
    <div style="background-color: antiquewhite">
        <p style="font-size:22px; color: brown;margin: 10px;">We couldn't sign you in.</p>
        {{form.username.errors}}
        {{form.full_name.errors}}
        {{form.email.errors}}
        {{form.mailing_address.errors}}
        {{form.password.errors}}
        {{form.password_confirm.errors}}
        <p style="background-color: brown;height: 5px;"></p>
    </div>
    {%endif%}
    // <script>
   

    // </script>

    <form class="form-horizontal" action="/register/teacher/" method="POST" id="reg_form">
        <fieldset>
            <div id="legend">
                <legend class="">
                    <div class="section-title lines">
                        <h2>
                            <span class="text">Register</span>
                        </h2>
                    </div>
                </legend>
            </div>
            <div class="control-group {%if form.username.errors%}has-error{%endif%}">
                <!-- Username -->
                <label class="" for="username">Public username*</label>

                <div class="controls">
                    <input type="text" id="username" name="username" value="{{form.username.value|default:''}}"
                           placeholder=""
                           class="form-control has-error">

                    {% csrf_token %}
                    <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                </div>
            </div>
            <div class="control-group {%if form.full_name.errors%}has-error{%endif%}">
                <!-- Username -->
                <label class="" for="username">Full name*</label>

                <div class="controls">
                    <input type="text" id="full_name" name="full_name" value="{{form.full_name.value|default:''}}"
                           placeholder=""
                           class="form-control">

                    {% csrf_token %}
                    <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                </div>
            </div>

            <div class="control-group {%if form.email.errors%}has-error{%endif%}">
                <!-- E-mail -->
                <label class="" for="email">E-mail*</label>

                <div class="controls">
                    <input type="text" id="email" name="email" value="{{form.email.value|default:''}}" placeholder=""
                           class="form-control">

                    <p class="help-block">Please provide your E-mail</p>
                </div>
            </div>

            <div class="control-group {%if form.password_confirm.errors%}has-error{%endif%}">
                <!-- Password-->
                <label class="" for="password">Password*</label>

                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="" class="form-control">

                    <p class="help-block">Password should be in between 8-10 characters </p>
                </div>
            </div>

            <div class="control-group {%if form.password_confirm.errors%}has-error{%endif%}">
                <!-- Password -->
                <label class="" for="password_confirm">Password (Confirm)*</label>

                <div class="controls">
                    <input type="password" id="password_confirm" name="password_confirm" placeholder=""
                           class="form-control">

                    <p class="help-block">Please confirm your password</p>
                </div>
            </div>

            <div class="control-group{%if form.country.errors%}has-error{%endif%}">
                <label class="" for="country">Country*</label>

                <div class="controls">
                    <select name="country" id="country" class="form-control">
                        <option value="India">India</option>
                    </select>
                </div>
            </div>

                                    <div class="control-group {%if form.city.errors%}has-error{%endif%}">
                 <label class="" for="state">State*</label>
                                        <select name="state" id="state" class="form-control">
                                            <option value="">-- Select one --</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Pondicherry">Pondicherry</option>
                                            <option value="Haryana">Haryana</option>                      
                                            <option value="Punjab">Punjab</option>
                                            <option value="Goa">Goa</option>
                                            <option value="Chhattisgarh">Chhattisgarh</option>
                                            <option value="Kerala">Kerala</option>
                                            <option value="Daman and Diu">Daman and Diu</option>
                                            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                            <option value="Bihar">Bihar</option>
                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                            <option value="Jharkhand">Jharkhand</option>
                                            <option value="Meghalaya">Meghalaya</option>
                                            <option value="Assam">Assam</option>
                                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                                            <option value="Lakshadweep">Lakshadweep</option>
                                            <option value="Manipur">Manipur</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                            <option value="Sikkim">Sikkim</option>
                                            <option value="West Bengal">West Bengal</option>
                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                            <option value="Nagaland">Nagaland</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                            <option value="Maharashtra">Maharashtra</option>
                                            <option value="Uttarakhand">Uttarakhand</option>
                                            <option value="Tripura">Tripura</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="Mizoram">Mizoram</option>
                                            <option value="Odisha">Odisha</option>
                                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>                
                                        </select>
                                    </div>


            <div class="control-group{%if form.city.errors%}has-error{%endif%}">
                <label class="" for="city">City*</label>

                <div class="controls">
                    <select name="city" id="city" class="form-control">
                        <option value="">-- Select one --</option>
                    </select>
                </div>
            </div>

            <div class="control-group {%if form.mailing_address.errors%}has-error{%endif%}">
                <!-- Password -->
                <label class="" for="mail">Mailing address*</label>

                <div class="controls">
                    <input type="text" id="mailing_address" value="{{form.mailing_address.value|default:''}}"
                           name="mailing_address" placeholder=""
                           class="form-control">

                    <p class="help-block">Please enter your Mailing address</p>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary" style="font-size:20px;">Submit</button>
                    &nbsp;&nbsp;&nbsp;
                    OR &nbsp;&nbsp;&nbsp;<a href="/login/" class="btn btn-primary" style="font-size:20px;">Have a
                    account sign in now</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script>
    $("#state").change(function(event) {
            $.ajax({
                    url : "/load_cities/",
                    data : { 'state' : $(this).val()},
                    type : "GET",

                    success : function(json_from_view) {
                      $('#city').empty().html('');
                       $('#results').empty().html('');
                for(var i=0;i<json_from_view.length;i++){
                $('#city').append('<option value="'+json_from_view[i]+'">'+json_from_view[i]+'</option>');
                }
                $('#city').material_select();
                          $('.caret').remove();

                   },
                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        $('#results').html("Cities are not loading!!!"); 
                            //console.log(xhr.status + ": " + xhr.responseText);         }
                }
                });
            });
</script>
{%endblock%}
{%block courses_list %}
{%endblock%}