{%extends 'new_home.html'%}

{% block head_js_css %}
{% endblock %}

{%block body%}
<div class="container termsandservices">
<div class="row center">
<h1>Terms of Service</h1>
</div>
<div class="row">
<p>Welcome to CLAT online Learning Service (hereinafter called CLAT) by Quality Council of India( QCI). It provides world class training courses in the area of Quality and Skilling which are appropriately designed  for making the Indian people employable and desirable by the Corporate and Government.<br>Please read Terms carefully, and contact us if you have any questions. By using our Services, you agree to be bound by these Terms, including the policies referenced in these Terms (such as our Privacy Policy & Honor Code). While using CLAT Service  you agree that :
</p>
<div class="row">
	<ul>
		<li><p>You will use CLAT in compliance with the Terms of Service  , CLAT Honor Code and all applicable Indian Laws including  Local, State, National laws plus any applicable  International laws, rules and regulations. This will include  Copyright laws, Laws regarding the transmission of technical data exported from your country of residence.</p></li>
		<li><p>When you create your CLAT account, you must provide us accurate and complete information, and you agree to update your information to keep it accurate and complete.</p></li>
		<li><p>You also confirm that you are eligible to take the course as per the eligibility criteria defined in the eligibility tab on Course introduce.</p></li>
		<li><p>You have read ,understood and agree with the  Academic  and  Certification Rules and Terms and conditions of the CLAT Service.</p></li>
		<li><p>You also agree that you will create, access, and/or use only one user account, and you will not share with any third party access to or access information for/from your account .</p></li>
		<li><p>That using CLAT  Services does not give you any ownership / intellectual property rights in CLAT  Services  or the content you access .</p></li>
		<li><p>If CLAT finds any unexpected event within its service then CLAT reserves the right to cancel, interrupt, or reschedule any course or to modify any course content or assessment including cancellation of registration .</p></li>
		<li><p>Fee once paid will not be refunded under any circumstances. It is also not be adjustable against any other programme of CLAT .</p></li>
		<li><p>No Cancellation of registration or  migration to another course  is  allowed under any condition . Please see the example below for more clarity.<br><pre style="font-size: 12.5px;">If a candidate has registered for Course A and now wants to take course B then s/he will have to register afresh for Course B and fee for Course A  will be forfeited .</pre></p></li>
		<li><p>Payment process is done by an CLAT third party vendor (payment gateway), and you will be re-routed to a secure website to complete the payment transaction .</p></li>
		<li><p>Once your payment transaction is completed, you will be re-routed back to the CLAT confirmation page and will also receive a confirmation email with your name, order number and the payment amount .</p></li>
		<li><p>Please retain this email for your records as this information will be required if you seek any query about payment .</p></li>
		<li><p>That furnishing of incorrect information/suppression of information would lead to rejection of registration .</p></li>
	</ul>
</div>
</div>
</div>
{%endblock%}

{% block footer_css_js %}
{% endblock %}
