<div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-3 pagination main_title">
        <span class="step-links">
            {% if course_list.has_previous %}
                <a href="?page={{ course_list.previous_page_number }}" class="btn btn-primary">previous</a>
                {%else%}
                <a href="#" class="btn btn-primary" disabled>previous</a>
            {% endif %}

            <span class="current">
                Page {{ course_list.number }} of {{ course_list.paginator.num_pages }}
            </span>

            {% if course_list.has_next %}
                <a href="?page={{ course_list.next_page_number }}" class="btn btn-primary">next</a>
            {%else%}
                <a href="#" class="btn btn-primary" disabled>next</a>
            {% endif %}
        </span>
    </div>
</div>