@charset "UTF-8";

@font-face {
  font-family: "edx";
  src:url("fonts/edx.eot");
  src:url("fonts/edx.eot?#iefix") format("embedded-opentype"),
    url("fonts/edx.woff") format("woff"),
    url("fonts/edx.ttf") format("truetype"),
    url("fonts/edx.svg#edx") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "edx" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "edx" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-graph:before {
  content: "a";
}
.icon-globe:before {
  content: "b";
}
.icon-heart:before {
  content: "c";
}
.icon-git-commit:before {
  content: "d";
}
.icon-home:before {
  content: "e";
}
.icon-device-mobile:before {
  content: "f";
}
.icon-device-desktop:before {
  content: "g";
}
.icon-three-bars:before {
  content: "h";
}
.icon-trashcan:before {
  content: "i";
}
.icon-tools:before {
  content: "j";
}
.icon-mail:before {
  content: "k";
}
.icon-check-mark-2:before {
  content: "l";
}
.icon-check-mark-3:before {
  content: "m";
}
.icon-chevron-down:before {
  content: "n";
}
.icon-chevron-down-1:before {
  content: "o";
}
.icon-chevron-up:before {
  content: "p";
}
.icon-chevron-up-1:before {
  content: "q";
}
.icon-circle-filled:before {
  content: "r";
}
.icon-circle-filled-outline:before {
  content: "s";
}
.icon-cloud:before {
  content: "t";
}
.icon-close-empty:before {
  content: "u";
}
.icon-close-circle-outline:before {
  content: "v";
}
.icon-clock-time:before {
  content: "w";
}
.icon-clock-time-outline:before {
  content: "x";
}
.icon-cloud-outline:before {
  content: "y";
}
.icon-remove-delete:before {
  content: "z";
}
.icon-remove:before {
  content: "A";
}
.icon-reload:before {
  content: "B";
}
.icon-search:before {
  content: "C";
}
.icon-screen:before {
  content: "D";
}
.icon-screen-1:before {
  content: "E";
}
.icon-screen-outline:before {
  content: "F";
}
.icon-talk-chat-bubble:before {
  content: "G";
}
.icon-stopwatch:before {
  content: "H";
}
.icon-stopwatch-1:before {
  content: "I";
}
.icon-stopwatch-outline:before {
  content: "J";
}
.icon-windows:before {
  content: "K";
}
.icon-windows-outline:before {
  content: "L";
}
.icon-user:before {
  content: "M";
}
.icon-twitter:before {
  content: "N";
}
.icon-youtube:before {
  content: "O";
}
.icon-thumbnails:before {
  content: "P";
}
.icon-tags:before {
  content: "Q";
}
.icon-tag:before {
  content: "R";
}
.icon-arrow-1-square-down:before {
  content: "S";
}
.icon-arrow-1-square-left:before {
  content: "T";
}
.icon-arrow-1-down:before {
  content: "U";
}
.icon-arrow-1-left:before {
  content: "V";
}
.icon-arrow-1-up:before {
  content: "W";
}
.icon-briefcase:before {
  content: "X";
}
.icon-brush:before {
  content: "Y";
}
.icon-hand-hold:before {
  content: "Z";
}
.icon-letter-mail-1:before {
  content: "0";
}
.icon-search-1:before {
  content: "1";
}
.icon-sell-sign:before {
  content: "2";
}
.icon-script:before {
  content: "3";
}
.icon-apple:before {
  content: "4";
}
.icon-android:before {
  content: "5";
}
.icon-bell:before {
  content: "6";
}
.icon-bell-two:before {
  content: "7";
}
.icon-angle-up:before {
  content: "8";
}
.icon-angle-down:before {
  content: "9";
}
.icon-chat-bubble:before {
  content: "!";
}
.icon-check-mark:before {
  content: "\"";
}
.icon-check-mark-2-1:before {
  content: "#";
}
.icon-facebook:before {
  content: "$";
}
.icon-fontawesome-webfont:before {
  content: "%";
}
.icon-github:before {
  content: "&";
}
.icon-google-plus:before {
  content: "'";
}
.icon-lemon:before {
  content: "(";
}
.icon-twitter-1:before {
  content: ")";
}
.icon-youtube-1:before {
  content: "*";
}
.icon-windows-1:before {
  content: "+";
}
.icon-talk-chat-2:before {
  content: ",";
}
.icon-talk-chat:before {
  content: "-";
}
.icon-brush-1:before {
  content: ".";
}
.icon-briefcase-1:before {
  content: "/";
}
.icon-dropbox:before {
  content: ":";
}
.icon-facebook-1:before {
  content: ";";
}
.icon-down-open-big:before {
  content: "<";
}
.icon-down-open-mini:before {
  content: "=";
}
.icon-user-1:before {
  content: "?";
}
.icon-thumbs-down:before {
  content: ">";
}
.icon-thumbs-up:before {
  content: "@";
}
.icon-star:before {
  content: "[";
}
.icon-star-empty:before {
  content: "]";
}
.icon-check:before {
  content: "^";
}
.icon-arrow-left:before {
  content: "_";
}
.icon-arrow-down:before {
  content: "`";
}
.icon-facebook-2:before {
  content: "{";
}
.icon-google-plus-1:before {
  content: "|";
}
.icon-globe-black:before {
  content: "}";
}
.icon-github-circled-alt2:before {
  content: "~";
}
.icon-git-circle-alt:before {
  content: "\\";
}
.icon-git:before {
  content: "\e000";
}
.icon-twitter-2:before {
  content: "\e001";
}
.icon-user-2:before {
  content: "\e002";
}
.icon-user-female:before {
  content: "\e003";
}
.icon-barbell:before {
  content: "\e004";
}
.icon-lab:before {
  content: "\e005";
}
.icon-ipad-2:before {
  content: "\e006";
}
.icon-ipad:before {
  content: "\e007";
}
.icon-laptop:before {
  content: "\e008";
}
.icon-pin:before {
  content: "\e009";
}
.icon-power:before {
  content: "\e00a";
}
.icon-printer-1:before {
  content: "\e00b";
}
.icon-zoom:before {
  content: "\e00c";
}
.icon-stopwatch-2:before {
  content: "\e00d";
}
.icon-star-1:before {
  content: "\e00e";
}
.icon-phone-3:before {
  content: "\e00f";
}
.icon-graph-1:before {
  content: "\e010";
}
.icon-frames:before {
  content: "\e011";
}
.icon-cloud-1:before {
  content: "\e012";
}
.icon-banknote:before {
  content: "\e013";
}
.icon-bubble:before {
  content: "\e014";
}
.icon-bulb:before {
  content: "\e015";
}
.icon-calendar:before {
  content: "\e016";
}
.icon-camera:before {
  content: "\e017";
}
.icon-clip:before {
  content: "\e018";
}
.icon-clock:before {
  content: "\e019";
}
.icon-cloud-2:before {
  content: "\e01a";
}
.icon-cup:before {
  content: "\e01b";
}
.icon-data:before {
  content: "\e01c";
}
.icon-diamond:before {
  content: "\e01d";
}
.icon-display:before {
  content: "\e01e";
}
.icon-eye:before {
  content: "\e01f";
}
.icon-fire:before {
  content: "\e020";
}
.icon-food:before {
  content: "\e021";
}
.icon-heart-1:before {
  content: "\e022";
}
.icon-key:before {
  content: "\e023";
}
.icon-lab-1:before {
  content: "\e024";
}
.icon-like:before {
  content: "\e025";
}
.icon-location:before {
  content: "\e026";
}
.icon-lock:before {
  content: "\e027";
}
.icon-mail-1:before {
  content: "\e028";
}
.icon-megaphone:before {
  content: "\e029";
}
.icon-music:before {
  content: "\e02a";
}
.icon-news:before {
  content: "\e02b";
}
.icon-note:before {
  content: "\e02c";
}
.icon-paperplane:before {
  content: "\e02d";
}
.icon-params:before {
  content: "\e02e";
}
.icon-pen:before {
  content: "\e02f";
}
.icon-phone:before {
  content: "\e030";
}
.icon-photo:before {
  content: "\e031";
}
.icon-search-2:before {
  content: "\e032";
}
.icon-settings:before {
  content: "\e033";
}
.icon-shop:before {
  content: "\e034";
}
.icon-sound:before {
  content: "\e035";
}
.icon-stack:before {
  content: "\e036";
}
.icon-star-2:before {
  content: "\e037";
}
.icon-study:before {
  content: "\e038";
}
.icon-t-shirt:before {
  content: "\e039";
}
.icon-tag-1:before {
  content: "\e03a";
}
.icon-trash:before {
  content: "\e03b";
}
.icon-truck:before {
  content: "\e03c";
}
.icon-tv:before {
  content: "\e03d";
}
.icon-user-3:before {
  content: "\e03e";
}
.icon-vallet:before {
  content: "\e03f";
}
.icon-video:before {
  content: "\e040";
}
.icon-vynil:before {
  content: "\e041";
}
.icon-world:before {
  content: "\e042";
}
.icon-linkedin:before {
  content: "\e043";
}
.icon-facebook-3:before {
  content: "\e044";
}
.icon-paypal:before {
  content: "\e045";
}
.icon-google:before {
  content: "\e046";
}
.icon-vcard:before {
  content: "\e047";
}
.icon-whatsapp:before {
  content: "\e048";
}
.icon-skype:before {
  content: "\e049";
}
.icon-wordpress:before {
  content: "\e04a";
}
.icon-windows-2:before {
  content: "\e04b";
}
.icon-youtube-2:before {
  content: "\e04c";
}
.icon-google-talk:before {
  content: "\e04d";
}
.icon-apple-1:before {
  content: "\e04e";
}
.icon-aws:before {
  content: "\e04f";
}
.icon-amazon:before {
  content: "\e050";
}
.icon-evernote:before {
  content: "\e051";
}
.icon-bag:before {
  content: "\e052";
}
.icon-bicycle:before {
  content: "\e053";
}
.icon-bicycle-vintage:before {
  content: "\e054";
}
.icon-browser-empty:before {
  content: "\e055";
}
.icon-browser-full:before {
  content: "\e056";
}
.icon-bubble-1:before {
  content: "\e057";
}
.icon-bubble-2:before {
  content: "\e058";
}
.icon-bubble-3:before {
  content: "\e059";
}
.icon-camera-1:before {
  content: "\e05a";
}
.icon-clap-board:before {
  content: "\e05b";
}
.icon-clipboard:before {
  content: "\e05c";
}
.icon-clock-1:before {
  content: "\e05d";
}
.icon-cloud-3:before {
  content: "\e05e";
}
.icon-cloudy:before {
  content: "\e05f";
}
.icon-envelope:before {
  content: "\e060";
}
.icon-file-ai:before {
  content: "\e061";
}
.icon-file-jpg:before {
  content: "\e062";
}
.icon-file-png:before {
  content: "\e063";
}
.icon-file-psd:before {
  content: "\e064";
}
.icon-file-text:before {
  content: "\e065";
}
.icon-graph-2:before {
  content: "\e066";
}
.icon-heart-2:before {
  content: "\e067";
}
.icon-hierarchy:before {
  content: "\e068";
}
.icon-hierarchy-2:before {
  content: "\e069";
}
.icon-imac:before {
  content: "\e06a";
}
.icon-ipad-1:before {
  content: "\e06b";
}
.icon-iphone:before {
  content: "\e06c";
}
.icon-keyboard:before {
  content: "\e06d";
}
.icon-laptop-1:before {
  content: "\e06e";
}
.icon-line:before {
  content: "\e06f";
}
.icon-list:before {
  content: "\e070";
}
.icon-list-thumbnails:before {
  content: "\e071";
}
.icon-lock-1:before {
  content: "\e072";
}
.icon-magnifier:before {
  content: "\e073";
}
.icon-map:before {
  content: "\e074";
}
.icon-map-pin:before {
  content: "\e075";
}
.icon-moon:before {
  content: "\e076";
}
.icon-mouse:before {
  content: "\e077";
}
.icon-pencil:before {
  content: "\e078";
}
.icon-pencil-ruler:before {
  content: "\e079";
}
.icon-picture:before {
  content: "\e07a";
}
.icon-rain:before {
  content: "\e07b";
}
.icon-ribbon:before {
  content: "\e07c";
}
.icon-shoe:before {
  content: "\e07d";
}
.icon-speaker:before {
  content: "\e07e";
}
.icon-speaker-off:before {
  content: "\e07f";
}
.icon-sun:before {
  content: "\e080";
}
.icon-tape:before {
  content: "\e081";
}
.icon-target:before {
  content: "\e082";
}
.icon-unlock:before {
  content: "\e083";
}
.icon-list-unordered:before {
  content: "\e084";
}
.icon-list-1:before {
  content: "\e085";
}
.icon-list-numbered:before {
  content: "\e086";
}
.icon-mail-accept:before {
  content: "\e087";
}
.icon-mail-add:before {
  content: "\e088";
}
.icon-label-remove:before {
  content: "\e089";
}
.icon-label-add:before {
  content: "\e08a";
}
.icon-printer:before {
  content: "\e08b";
}
.icon-triangle-down:before {
  content: "\e08c";
}
.icon-search-3:before {
  content: "\e08d";
}
.icon-ruby:before {
  content: "\e08e";
}
.icon-plus:before {
  content: "\e08f";
}
.icon-triangle-up:before {
  content: "\e090";
}
.icon-triangle-right:before {
  content: "\e091";
}
.icon-triangle-left:before {
  content: "\e092";
}
.icon-x:before {
  content: "\e093";
}
.icon-bell-outline:before {
  content: "\e094";
}
.icon-bell-1:before {
  content: "\e095";
}
.icon-bag-1:before {
  content: "\e096";
}
.icon-chevron-right:before {
  content: "\e097";
}
.icon-chevron-left:before {
  content: "\e098";
}
.icon-caret-down:before {
  content: "\e099";
}
.icon-caret-left:before {
  content: "\e09a";
}
.icon-caret-right:before {
  content: "\e09b";
}
.icon-caret-up:before {
  content: "\e09c";
}
.icon-contact-big:before {
  content: "\e09d";
}
.icon-drag:before {
  content: "\e09e";
}
.icon-grid:before {
  content: "\e09f";
}
.icon-keypad:before {
  content: "\e0a0";
}
.icon-keypad-outline:before {
  content: "\e0a1";
}
.icon-keypad-2:before {
  content: "\e0a2";
}
.icon-navicon-round:before {
  content: "\e0a3";
}
.icon-plus-add:before {
  content: "\e0a4";
}
.icon-plus-add-2:before {
  content: "\e0a5";
}
.icon-plus-big:before {
  content: "\e0a6";
}
.icon-minus-remove:before {
  content: "\e0a7";
}
.icon-minus-2:before {
  content: "\e0a8";
}
.icon-minus:before {
  content: "\e0a9";
}
.icon-minus-3:before {
  content: "\e0aa";
}
.icon-star-outline:before {
  content: "\e0ab";
}
.icon-star-3:before {
  content: "\e0ac";
}
.icon-star-4:before {
  content: "\e0ad";
}
.icon-star-2-1:before {
  content: "\e0ae";
}
.icon-list-alt:before {
  content: "\e0af";
}
.icon-thumbnails-large:before {
  content: "\e0b0";
}
.icon-cart-shopping-1:before {
  content: "\e0b1";
}
.icon-card-user-2:before {
  content: "\e0b2";
}
.icon-content-41:before {
  content: "\e0b3";
}
.icon-content-42:before {
  content: "\e0b4";
}
.icon-check-5:before {
  content: "\e0b5";
}
.icon-check-1:before {
  content: "\e0b6";
}
.icon-credit-card:before {
  content: "\e0b7";
}
.icon-cloud-4:before {
  content: "\e0b8";
}
.icon-eye-1:before {
  content: "\e0b9";
}
.icon-eye-slash-close:before {
  content: "\e0ba";
}
.icon-play:before {
  content: "\e0bb";
}
.icon-thumbnails-1:before {
  content: "\e0bc";
}
.icon-thumbnails-large-1:before {
  content: "\e0bd";
}
.icon-youtube-play:before {
  content: "\e0be";
}
.icon-wrench:before {
  content: "\e0bf";
}
.icon-trash-bin:before {
  content: "\e0c0";
}
.icon-sun-1:before {
  content: "\e0c1";
}
.icon-table:before {
  content: "\e0c2";
}
.icon-star-two:before {
  content: "\e0c3";
}
.icon-star-half:before {
  content: "\e0c4";
}
.icon-star-half-1:before {
  content: "\e0c5";
}
.icon-star-5:before {
  content: "\e0c6";
}
.icon-chart-line:before {
  content: "\e0c7";
}
.icon-chart-pie:before {
  content: "\e0c8";
}
.icon-check-2:before {
  content: "\e0c9";
}
.icon-clipboard-1:before {
  content: "\e0ca";
}
.icon-cloud-5:before {
  content: "\e0cb";
}
.icon-book-open:before {
  content: "\e0cc";
}
.icon-book:before {
  content: "\e0cd";
}
.icon-box:before {
  content: "\e0ce";
}
.icon-calendar-1:before {
  content: "\e0cf";
}
.icon-cancel:before {
  content: "\e0d0";
}
.icon-cloud-thunder:before {
  content: "\e0d1";
}
.icon-credit-card-1:before {
  content: "\e0d2";
}
.icon-cw:before {
  content: "\e0d3";
}
.icon-user-add:before {
  content: "\e0d4";
}
.icon-heart-3:before {
  content: "\e0d5";
}
.icon-heart-broken:before {
  content: "\e0d6";
}
.icon-home-1:before {
  content: "\e0d7";
}
.icon-pen-1:before {
  content: "\e0d8";
}
.icon-paperplane-ico:before {
  content: "\e0d9";
}
.icon-star-6:before {
  content: "\e0da";
}
.icon-star-empty-1:before {
  content: "\e0db";
}
.icon-star-half-2:before {
  content: "\e0dc";
}
.icon-star-half-empty:before {
  content: "\e0dd";
}
.icon-arrow-1-square-right:before {
  content: "\e0de";
}
.icon-arrow-1-square-up:before {
  content: "\e0df";
}
.icon-bus:before {
  content: "\e0e0";
}
.icon-camera-1-1:before {
  content: "\e0e1";
}
.icon-content-44:before {
  content: "\e0e2";
}
.icon-angle-left:before {
  content: "\e0e3";
}
.icon-angle-right:before {
  content: "\e0e4";
}
.icon-briefcase-case:before {
  content: "\e0e5";
}
.icon-call-phone:before {
  content: "\e0e6";
}
