@charset "utf-8";
/* CSS Document */
/*Slider*/

h1, h2, h3, h4, h5 { font-weight:400;}

#slider1{ height:340px; width:100%; position:relative; float:left; left:0px; top:0px; }
#slider{ height:340px; width:100%; position:absolute; float:left; left:0px; top:75px; background:url(../images/3291dec5f96232f6c6e93173fbe2e294.jpg) -200px; }
.slider-content{ height:300px; width:100%; position:relative; float:left; left:0px; top:50px;}
.course-icon{ height:80px; width:80px; display:block;  margin:15px auto;}
.video-co{ height:200px; width:360px; position:relative; float:right; right:20px; margin-top:30px; top:50px; }
.inner-vi{ height:150px; width:100%; position:relative; float:left; left:0px; background-color:#000; }
.cotent-co{ height:100%; width:300px; position:relative; float:right; right:20px; margin-top:50px; top:50px;}

.dash-img{ width:70% !important; margin:10px 15% !important; height:auto !important; }
.menuss{ height:auto; width:auto; position:relative; float:left; left:0px;  margin-top:30px !important; margin-bottom:0px !important; }
.menuss .submenu{ height:auto; width:auto; padding:10px 20px 5px 20px; color:#222; border-bottom:none !important; text-align:center; float:left; border: solid 1px #ccc; font-size:14px;}
.menuss .submenu:hover{ background-color:#222; cursor:pointer; color:#FFF;}
.menuss .submenu.active{ color: #fff !important; background-color:#273791; cursor:pointer;}

.lkj{ margin-top:50px !important;}

.more{color:#273791; position:relative; float:left; left:0px; text-align:right; padding-right:10px; width:80%; max-width:250px !important;  font-size:12px; font-weight:600;}

.more:hover{ cursor:pointer; color:#000;}

/*java introduction*/
#course{ height:auto; padding:0px 0 40px 0;   margin-top:0px; width:100%; position:relative; float:left; left:0px;   }
#course h1 { height:auto; padding:0px 15px; margin-bottom:25px; width:100%;   font-weight:300; color:#283890; font-size:27px; text-align:center;   }
#course h4 { height:auto; padding:10px 15px; width:100%; margin-top:6px !important; margin:0px; position:relative; float:left; left:0px;   font-weight:600; color:#273791; font-size:18px; text-align:left; text-decoration:none !important    }
#course p span{font-weight:600 !important;}
#course p { height:auto; padding:1px 15px; width:100%; margin:5px 0px; font-weight:400; color:#666; font-size:13px;   }
#course .col-sm-4{ width:30%; padding:1%; margin:1.6%; border: solid 1px #ccc; transition:1.1s; -moz-transition:1.1s; -o-transition:1.1s; -webkit-transition:1.1s;  } 
#course .col-sm-4:hover{   cursor:pointer; box-shadow: 0px 0px 12px #273791; 
 }
 
 #course .col-sm-4 img{ height:175px; width:100%; position:relative; float:left; left:0px; top:0px; } 
 .course-desc h5{ font-size:21px !important; width:90%; float:left;  padding-top:0px; margin:10px 5%; color:#222!important; font-family:Calibri; text-align:left;}
 .course-desc p span{  font-size:14px !important; color:#333 !important; line-height:14px; margin:0px 5% !important;  width:90%; font-family:Calibri;
  text-align:left !important;}
.staricons{ height:auto; width:auto; position:relative; float:left; top:-10px !important ; left:0px; margin-left:5px; color:#283890 !important; font-size:18px;}
/*Sbout */

.col-lg-1 li{ padding-left:15px !important; list-style:none !important; line-height:25px; font-size:15px;}
#about p{ font-size:14px; line-height:22px;}

.circle-icon{ height:auto; width:auto; position:relative; float:left; margin-top:50px; background-color:#283890; color:#FFF; font-size:30px;
 border-radius:50%; padding:10px 15px; margin-right:20px;}

.cicons{ height:auto; width:auto; position:relative; float:left; padding:7px 10px; top:0px; background-color:#283890; color:#FFF; font-size:16px; border-radius:50%;  margin-right:10px; left:40px;}

#revi{ height:auto; padding:40px 0;    width:100%; position:relative; float:left; left:0px;   }

#re{ height:auto; padding:40px 0;   margin-top:100px; width:100%; position:relative; float:left; left:0px; margin-top:0px; border-top: solid 1px #ccc; }

.review-star-con{ width:100%;  position:relative; float:left; padding:10px 5px; height:auto;}
.staricons2{ height:auto; width:auto; position:relative; float:left; top:10px !important ; left:0px; margin-left:5px; color:#09F !important; 
font-size:23px;} 

#revi p{ font-size:13px !important; color:#666 !important;}


#privacy .col-md-4 .col-lg-4 { margin:10px 0px; box-shadow: 0 0 4px #666  }


/*java introduction*/
#intro{ height:auto; padding:30px 0 20px 0;  width:100%; position:relative; float:left; left:0px; margin-top:0px; border-bottom: solid 1px #ccc; }

#intro h1 { height:auto; padding:0px 15px; width:100%; margin-bottom:5px; margin-top:20px; font-weight:400; color:#222; font-size:23px;   }
#intro p { height:auto; padding:5px 15px; width:100%; margin:5px 0px; font-weight:400; color:#666; font-size:14px;   }
 
.col-md-2 img { margin-left:15px;}

.col-sm-3 h4{ margin-top:30px; text-align:center; color:#000; font-weight:600; width:100%;}
.enroll-btn{ height:auto; width:95%; background-color:#273791; color:#FFF;  text-align:center; margin-top:40px; font-size:21px; padding:15px 0; margin-left:2.5%;} 
.enroll-btn:hover{ cursor:pointer; background-color:#FFF; border: solid 1px #273791; color:#273791 !important;}
.review-btn{ height:auto; width:auto; position:relative; float:left; margin-left:25%;   border-radius:3px; color:#273791; 
font-size:13px; font-weight:600; padding:7px 20px; margin-top:0px; } 

.col-sm-3 p , .col-md-1 p{ text-align:center; color:#666; font-size:12px !important;  font-size:15px ; }

/*Sbout */




.search-box{  padding:25px 0; margin-top:20px; z-index:999 !important }
.search-box h4{ width:100%; text-align:center; font-size:24px; color:#fff; margin:0px 0 20px 0; }



.ficons{ height:auto; width:20px; text-align:center; color:#04a5e5;  margin-right:4px; margin-top:0px; font-size:17px; float:left;}

.full li{ list-style:none; float:left; left:0px; width:100%; left:-10% !important; height:auto;  padding:10px 0px 7px 0px !important ; border-bottom: solid 1px #ccc; font-size:13px !important;}






/*Courses Reviews*/

.col-md-50 h4 { font-weight:600;color:#04a5e5; float:left; left:0px; text-align:right !important;} 

.reicons{ height:auto; width:auto; position:relative; float:left; top:20px !important ; left:10px; margin-left:5px; color:#04a5e5 !important; font-size:18px;}


.circles{ height:110px; width:110px; display:block; margin:0px auto; border-radius: 50%;  border: solid 5px #273791; color:#273791; border-radius: 50%;} 
.reicons{ height:auto; width:100%; position:relative; float:left; margin:0px !important; top:20px !important ; left:0px; text-align:center;  color:#273791!important; font-size:25px;}
.ff{ height:30px; width:100%; position:relative; float:left; left:0px; top:10px; text-align:center; font-size:30px; color:#273791;}


.bar2 li{ list-style:none; float:left; width:90%; margin-top:12px; height:30px !important; position:relative;  height:auto;}
.bar2 p{ font-size:13px; color:#222; width:80px; top:0px;  float:left; position:relative; left:10px !important; }  
.full-fill2{ height:20px; width:80%; position:relative; float:left; margin-left:5px; top:18px; }
.fill2{ height:100%; background-color:#0e7138; position:relative; float:left; left:0px;  } 
.full-down{ height:10px !important;  width:80%; position:relative; float:left; margin-left:5px; top:18px; font-size:10px; text-align:center; }

.red { background-color:#D9534F;}
.green , .sucess{background-color:#5CB85C;}
.oranges , .warning{ background-color:#F0AD4E;}


.bar li{ list-style:none; float:left; width:100%; top:-15px; height:21px !important; position:relative;  height:auto;}
.full-fill{ height:7px; width:80%; position:relative; float:left; margin-left:5px; top:18px; background-color:#CCC;}
.fill{ height:100%; position:relative; float:left; left:0px; background-color:#273791; } 
.bar p{ font-size:10px; color:#999;  float:left; position:relative; width:auto;  left:-10px !important; }  

/* REVIEW*/

#review .col-sm-4{ padding:15px;}
#review{ height:auto; padding-bottom:40px ;  width:100%; position:relative; float:left; left:0px; margin-top:40px; border-top: solid 1px #ccc; }
#about p{ text-align:justify;}
.cir-img{ height:120px; width:120px; display:block; margin:0px auto; border-radius: 50%;} 
img-con{ height:100px; width:50px; position:relative; float:left; left:0px; }

.sreview-img{ height:40px; width:40px; float:left; left:0px; position:relative; margin-top:10px;  border-radius: 50%;} 
#review h4{color:#273791; font-weight:600; width:100%;text-align:center;float:left; font-size:16px !important; left:0px !important; margin:7px 0; ss }
#review h5{color:#222; font-weight:600; width:200px;float:left; font-size:14px !important; left:10px !important; margin:7px 0px!important; }

.sreview li{ list-style:none; float:left; width:100%; top:0px; height:auto; position:relative; left:0; height:auto;}
#review .p{ font-size:12px; color:#999;  float:left; position:relative; margin-top:5px; width:auto;  left:10px !important; }  
#review .ss{ font-size:12px; color:#999;  float:left; position:relative; margin-top:-5px; width:200px;left:5px !important; }  

.review-btn{ height:auto; width:120px; position:relative; float:left; margin:10px 30%;  border: solid 1px #273791; border-radius:3px; color:#273791; 
font-size:13px; font-weight:600; padding:7px 20px; margin-top:0px; } 

.review-btn:hover{ background-color:#273791; color:#FFF !important; cursor:pointer}
#what , #persu , #essential{ display:none;}

/*add review*/

#addreview{ height:350px; background:url(../images/img.jpg) center -300px;   width:100%; position:relative; float:left; left:0px;  }


/*privacy*/
#privacy{ height:auto; padding-top:10px ;  width:100%; position:relative; float:left; left:0px; margin-top:0px; border-bottom: solid 1px #ccc; }

#privacy h1 { height:auto; padding:30px 15px; text-align:center; width:100%; border-bottom: 1px #ccc solid; margin-bottom:5px; margin-top:20px; font-weight:400; color:#000; font-size:32px;   }
#privacy h2 { height:auto; padding:0px 15px; width:100%; margin-bottom:5px; margin-top:20px; font-weight:600; color:#222; font-size:21px;   }
#privacy p span{ color:#273791; }
#privacy p { height:auto; padding:1px 15px; width:100%; margin:5px 0px; font-weight:400; color:#666; font-size:14px;   }
 
.how-img{ height:100px; width:100px;  display:block; margin:50px auto;}
#privacy .col-md-50{ padding:50px 0px; }



/*All Courses Panel */

.filter-con1{ height:auto; margin-top:0px !important; width:100% !important; position:relative;  float:left; margin:0px; left:0px; background-color:#03;}
.filter-con{ height: auto;  width:100%;  margin: auto;  position: relative; float: left; left: auto; right: auto;
  margin-top:50px; bottom: auto; }
.result_con{ height:auto; width:800px;  position:relative; float:right; right:0px; ackground-color:#000;}
.con2{ width:1140px; display:block; margin:0px auto;}
.box{ height:300px;  width:300px; position:relative; float:left; left:0px;  }


#filt h2{ height:auto; width:90%;margin:10px 0 10px 0px !important; padding-bottom:5px;   text-align:left !important; border-bottom:1px #ccc solid; font-size:21px; font-weight:400; color:#000; position:relative; float:left;}
#filt h3{ height:auto; width:90%; text-align:left !important; position:relative; float:left; font-size:16px;  margin:20px 5% 5px 5% !important;  font-weight:600; color:#222;}
#filt li{ width:100% !important; height:auto; position:relative; left:-30px !important; float:left; padding:5px 5% !important; list-style:none;  font-size:14px !important}
#filt li:hover{ background-color:#090; color:#FFF; cursor:pointer; }



/*User*/

/*Dashboard*/
#dash{ height:auto; padding-bottom:40px;    width:100%; position:relative; float:left; left:0px;   }

.user-notif{ height:auto; min-height:120px; width:100%; position:relative; float:left; left:0px; top:0px; background-color:#222} 
.user-notif h3 , .user-notif p{ color:#fff !important;}
.user-notif p{ font-size:13px !important ; }
.find-courses{ background-color:#09F; color:#FFF; border: solid 1px #09f;  border-radius:3px; padding:15px 20px; text-align:center; font-size:16px; font-weight:400; display:block; margin:20px auto; width:200px;}
.find-courses:hover{ cursor:pointer; color:#09f; background-color:#FFF;}
.da{ height:auto; width:100%; border-top: solid 2px #e2e2e2; padding:30px 15px; margin-top:0px; position:relative; float:left; left:0px;}
.da1{ height:auto; width:100%; border: solid 1px #ccc; background-color:#FFF; padding:30px 15px; margin-top:0px; position:relative; float:left; left:0px;}

.aboutme{ height:auto; border:dashed 2px #09f;  color:#09f; width:1005; text-align:center; padding:30px 0;}

#cert li { height:auto; width:80%; text-align:left; padding:7px 10px; color:#C60; font-size:21px; font-weight:300 !important; position:relative; float:left;}
.twabs{height:auto; margin:0px; left:20px; font-size:13px; width:190px; left:30px; text-align:center; border: solid 1px #283890; background-color:#283890; color:#FFF; padding:15px 0px; }
.twabs:hover{ cursor:pointer; background-color:#FFF; color:#283890;}

.filters{ height:auto; width:100%; position:relative; float:left; left:0px; padding-top:10px; top:-20px;  } 
.week{ font-size:13px; font-weight:600; position:relative; float:left; list-style:none; height:auto; color:#09f; left:-40px; width:200px !important; margin:0px !important; border-bottom: solid 1px #09f !important; padding:12px 0 !important}
.week:hover{ color:#222 !important; cursor:pointer;}
.video-panel{ width: 100%;    height: 780px;
       margin: 0px auto; position:relative; float:left; left:0px;}


#sidebar-menu:hover{ background-color:#09f; color:#fff; cursor:pointer;}          
#sidebar-menu{ height:45px; width:52px; padding:5px 10px ; font-size:30px; position:absolute; float:left; left:110px; top:30px; border: solid 1px #09f; color:#09f; font-weight:600;  }	  
#sidebars{ display:none; z-index:999 !important; height:400px; width:160px; padding:10px; float:left; left:40px; margin-top:70px; background-color:#f7f7f7; border-right: solid 1px #09f; border-top: solid 1px #09f;border-bottom: solid 1px #09f; }

.filter-week{ display:none; height: auto;  width:200px;  position: relative; float: left; left: -40px; margin-top:0px; margin-bottom:10px;  }
.filter-week ul li{height:auto; width:200px; text-align:left; padding:10px 10px; left:-40px !important; list-style:none; color:#09f; font-size:14px; font-weight:600 !important; position:relative; float:left;  background-color:#FFF; border-bottom: solid 1px #ccc}
.filter-week ul li:hover{ cursor:pointer; background-color:#09f; color:#FFF;}
.filters li.active{ color:#222; }


.plus-icon{ height:auto; width:auto; position:relative; float:right; right:5px; font-size:18px; color:#666;}
.plus-icon:hover{ color:#000; cursor:pointer;}
.download{ height:auto; width:auto; padding:10px 30px; position:relative; float:left; left:0px; margin-top:20px; background-color:#09f; color:#FFF;}



/*slider con*/

.slider_con{height:350px; width:100%; position:absolute; float:left; left:0px; top:00px; }
.whole_con h1{ height:auto; top:0px; position:relative;  float:left;left:0px; margin:3% 5%; color:#fff !important;
font-weight:300 !important; font-size:35px !important; width:90%; }
.tagline{height:auto; width:100%; position:absolute; float:left; left:20px; top:190px; color:#999; font-family:calibri;  font-size:16px;}

.buttons{height:auto; width:auto; position:relative; float:left; left:5%;   padding:10px 20px; border: solid 1px #FFFFFF; color:#FFF; font-family:calibri;}
.buttons:hover{ background-color:#222; cursor:pointer; border: solid 1px #222; }
.whole_con{height:350px; width:100%; overflow:hidden; position:absolute; float:left; left:0px; top:0px;}
@media screen and (min-width:320px)
and (max-width:768px)
{ .menu_container{display:none;} .menu_icon{ display:block;}}
@media screen and (max-width:768px)
{h1{ font-size:30px;}}

@media screen and (min-width:769px)
and (max-width:1768px)
{.close , .menu_icon , .side_menu_con{display:none !important;}
}




@media(max-width:890px)  { 
	

.full { width:100% !important;}
		.circle-icon{ margin:0px auto !important; float:none !important; display:block; width:60px;}
	.register-login{ margin:10px 0px; float:left; left:0px;} header{ height:80px !important; padding-bottom:20px;}.on2{ display:none;}#content h1{ margin-top:0px;} .box{ margin:20px 5% ;}#content{ padding-top:40px;}#fal{ height:0px;}
.col-sm-25 img { margin-top:40px !important;}
.dline{ width:30%; display:block; margin:20px auto;}.small-orange-btn, .small-btn{ margin:30px auto; display:block; width:90px;}
#isotop nav ul button{ font-size:17px; }

/**@media(max-width:670px)  {
#isotop .col-md-4{ width:80% !important; margin:10px 10% !important; background-color:#090;}
}
