{% extends 'new_home.html' %}
{% load goal_tags %}

{% load static %}
{% block head_js_css %}

{% endblock %}

{% block body %}
<!-- <a href='/set/goal/' class="btn btn-success btn-lg sharp right"><span class="glyphicon glyphicon-plus">&nbsp</span>Set New Goal</a> -->
<div class="container-fluid" style="margin-top:50px;">
  {% for bookmark_que in bookmark_questions %}
  <div class="row">
  <div class="col-md-2"></div>
  <div class="panel-group">
      <div class="panel panel-default">
        <div class="col-md-12 panel-heading">
          <div class="col-md-3"> 
            <h4>{{bookmark_que.level}}</h4>
          </div>
          <!-- <div class="col-md-3 right">
            <a href="/goal/delete/{{goal.id}}/" class="btn btn-danger">Delete</a>
          </div> -->
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <span style="color: green;font-size: 15px;">Content: </span>
              {{bookmark_que.content}} 
            <hr width="1">
          </div>
        </div>
        
     <!--    <div class="panel-footer">
           <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:70%;">
                70%
              </div>
           </div>
        </div> -->
      </div>
  </div>
  </div>
{%empty%}
<div class="row">
  <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <span style="color: green;">BookMark(s) Not found with your account.</span>
            <br>
            <span style="color: green;">To add entries please take any test and add/mark some valuable(depends on your need) questions on bookmark.</span>
            <br>
            <br>
            <!-- <a href="/set/goal/">Create a goal</a> with enrolled courses and test your skill(s) -->
        </div>
        <div class="panel-footer">
           
        </div>
      </div>
  </div>
</div>
{% endfor %}
<div class="col-md-2"></div>
  <br>
</div>
{% endblock %}

{% block footer_css_js %}
{%endblock%} 