{% extends 'new_home.html' %}
{% load static %}
{% load default_tags %}

{% block head_js_css %}
{% endblock %}

{% block body %}
<br><br><br>
{% if total_courses_enrolled|length == 0 %}
<div class="row" style=" font-weight:bold; text-align:center;">
<h2>Looks like you haven't enrolled in any course yet.</h2>
<a class="btn btn-info btn-large" href="/allcourses/">
Find Courses Now
</a><br><br><br><br><br><br><br><br><br><br>
</div>
{% else %}
<div class="row col-md-12" style='text-align:center;'>
  <h2>MY COURSES</h2>
    <!-- <div class="col-lg-2 col-md-2 col-sm-2" style='text-align:center;'>
    <hr>
    <p>Total courses: 336</p> 
    <p>Complete courses: 336</p> 
    <p>Runing courses: 336</p> 
    </div> -->
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
      <div class="row">
        <br>
        {% include 'student/_student_dashboard.html' %}
      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1">
        </div>
</div>

{% if total_courses_enrolled|length > 3 %}
  <a href="javascript:void(0)" id="fetch_enrolled_courses" style="float:right;">
More &#43;
</a>
{% endif %}
{% endif %}

<script>
	var start_at_enrolledcourse = 2;
  var enroll_factor = Math.ceil('{{ total_courses }}'/3);
	$('#fetch_enrolled_courses').click(function(event) {
		$.ajax({
            url : "/fetchmore/enrolledcourses/",
            data : { 'start_at_enrolledcourse' : start_at_enrolledcourse },
            type : "GET",

            success : function(json_from_view) {
              if(json_from_view){
              $('#enrolled_courses_div').append(json_from_view['html']);
              start_at_enrolledcourse = parseInt(json_from_view['start_at_enrolledcourse'])+1;
              if(start_at_enrolledcourse > enroll_factor){
              $('#fetch_enrolled_courses').css('display','none');
          }
            }else{
                alert('Cannot fetch more enrolled courses!!!'); 
            }
            },
            error : function(xhr,errmsg,err) {
                alert('Error in fetching the enrolled courses!!!'); 
        }
        });
	});
</script>
{% endblock %}
