<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.2/Chart.js"></script>
<canvas id="myChart" width="200" height="80"></canvas>
<script>
var data = {
    labels: ["January", "February", "March","May", "June", "July"],
    datasets: [
        {
            label: "Test Progress",
            backgroundColor: "rgba(255,99,132,0.2)",
            borderColor: "rgba(255,99,132,1)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(255,99,132,0.4)",
            hoverBorderColor: "rgba(255,99,132,1)",
            data: [65, 59, 80, 56, 55, 40],
        }
    ]
};
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    max:100
                }
            }]
        }
    }
});
</script>
{% for height in week_module_name|inline_test_key:course|test_progress:user%}
      {% if height >= 0 %}
          <li class="bar teal" style="height: {{ height }}%;width: 10%" title="{{ height }}%">
          {% if height <= 17 %}
            <div class="percent" style="bottom: 110%;">{% ifnotequal height 0 %} {{ height }}% {% else %}{% endifnotequal %}</div>              
              <div class="skill" style="position: relative;bottom: -100%;">IT-{{ forloop.counter }}</div>
          {% else %}
            <div class="percent">{% ifnotequal height 0 %} {{ height }}% {% else %}{% endifnotequal %}</div>
            <div class="skill">IT-{{ forloop.counter }}</div>
          {% endif %}
      {% if inline.schedule_key %}
          <div style="position: relative;bottom: -90%;" title="View test report">
            <a href="/download/report/inline/{{ inline.schedule_key }}/" target="_blank"><span style="font-size:12px;">Report</span>
              <i class="fa fa-eye"></i>
            </a>
          </div>
      {% endif %}
          </li>
      {% else %}
         <li class="bar teal" style="height:0;width: 20%">
           <div class="skill" style="position: relative;bottom: -10%;">IT - {{ forloop.counter }}</div>
        </li>
      {% endif %}
  {% endfor %}