{% extends 'new_home.html' %}
{% load static %}
{% load default_tags %}
{% load test_tags %}

{% block slider %}
{% endblock %}
{% block footer_css_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.2/Chart.js"></script>
<canvas id="myChart" width="200" height="80"></canvas>
<script>
var testData = {{data_temp}}
console.log(testData.length);
testNames = [];
for(i=1;i<=testData.length;i++){
	testNames.push("Test "+i)
}
console.log(testNames);

var data = {
    labels: testNames,
    datasets: [
        {
            label: "Test Progress",
            backgroundColor: "rgba(255,99,132,0.2)",
            borderColor: "rgba(255,99,132,1)",
            borderWidth: 4,
            hoverBackgroundColor: "rgba(255,99,132,0.4)",
            hoverBorderColor: "rgba(255,99,132,1)",
            data: testData,
        }
    ]
};
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: {
        scales: {
            yAxes: [{
                ticks: {
         	    beginAtZero:true,
                    max:100
                }
            }]
        }
    }
});
</script>
{%endblock%} 

{% block body %}

{% endblock %}

{% block footer %}
{% endblock %}
