{% extends 'new_home.html' %}
{% load static %}
{% load default_tags %}
{% block head_js_css %}
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"/>
{%endblock head_js_css %}
{% block slider %}
{% endblock %}
{% block body %}
<style type="text/css">
body{ background-color:#e2e2e2 !important ;}
li{
  list-style-type: none;
  color:red;
}
</style>


<div class="container profile" style='background-color:white;'>
<div class="col-lg-2 col-md-2 col-sm-2"></div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 profile-form">
    <div class="hidden-xs">
       <h2 class="text-center" style="font-weight:400 !important; margin-top:40px;">ACCOUNT SETTINGS</h2>
    </div>
    <div class="hidden-md hidden-lg">
        <h4 class="text-center" style="margin-top:40px;" >ACCOUNT SETTINGS</h4>
    </div>

<p style="font-size:13px">
    These settings include basic information about your account. You can also specify additional information and see your linked social accounts on this page.
</p>
<hr>
<div class="col-sm-12 col-xs-12">

    <!-- <div id="fk"> -->
    <!-- </div> -->

    <div id="fk" class="col-sm-3 col-xs-12 profile_pic_div" id="profile_pic_div" style="font-size: 30px;">
        {% if socialaccount_picture %}
            <img id="profile_picture" style="width: 100%"  src="{{ socialaccount_picture }}">
        {% else %}
        {% if profile_pic %} 
            <img id="profile_picture" style="width: 100%"  src="{{ user|get_img }}">
        {% else %}
            <img style="width: 100%" id="profile_picture"  src="{% static '/static/custom/img/EQUEST_default_DP.png'%}">
        {% endif %}
        {% endif %}
        <hr>
    </div>
    <span>{{  profile_picture_form.errors }}</span>

    <div class="row col-sm-8 col-xs-12">
        <div class="col-sm-4">
            <button type="button" id="upload_picture_button" class="btn btn-primary sharp">{% if not is_default_picture %}Change Picture{% else %}Upload Picture{% endif %}</button>
        </div>
        <div class="hidden-sm hidden-md hidden-lg">
           <br>
        </div>
        <div class="col-sm-4">
            <form id="update_profile_picture_form" action="/profile/picture/" method="post" enctype="multipart/form-data" onsubmit="return validate_file()">
                {{ profile_picture_form.picture }}
                {% if not is_default_picture %}
                <button type="button" id="remove_picture_button" class="btn btn-info sharp">Remove Picture</button>
                <br><br>
                {% endif %}
            </form>
        </div>

        <br><br>
        <p id="picture_alert" style="color:red"></p>
    </div>

    <div class="col-sm-4 col-xs-12">
    </div>
</div>
<form  method="post" role="form" action="{{ request.get_full_path }}" id="update_profile_details_form" autocomplete="off">
{% csrf_token %}

<!-- <div class="da1"> -->
<div class="row">
<h4 class="hidden-md hidden-lg text-center">Basic Information(s)<span style="color:red;">*</span></h4>

<h2 class="hidden-xs text-center">Basic Account Information (required)</h2>
</div>
<div class="row">
<span class="right" style="font-size: 15px;margin-right: 5px;">
    NOTE: <span style="color:red;">*</span> required fields</span>
</div>
     <hr>
     <div class="form-group">
        <label for="email">Full Name<span style="color:red;">*</span></label>
        <input type="text" class="form-control sharp" style="border: solid 1px #ccc;" placeholder="Enter full name"   value="{{logged_user.full_name}}" name="full_name">
             <p style="color:red;">{{ student_form.full_name.errors }}</p>
     </div><br>

      <div class="form-group">
            <label for="d_o_b">Date Of Birth<span style="color:red;">*</span></label>
            <input type="text" name="d_o_b" class="form-control sharp" value="{{logged_user.d_o_b|date:'m/d/Y'}}" style="border: solid 1px #ccc;" id="d_o_b" placeholder="Please select Date">
            <p style="color:red;">{{ student_form.d_o_b.errors }}</p>
       </div>    <br> 
       <div class="form-group">
         
            <label for="gender">Gender<span style="color:red;">*</span></label>
            <select class="form-control sharp" id="gender" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
                    </select> 
        </div><br>
      
         
       <div class="form-group">
            <label for="phone_number">Phone Number<span style="color:red;">*</span></label>
            <input class="form-control sharp" id="phone_number" name="phone_number" placeholder="Enter your Phone Number" value="{{logged_user.phone_number}}">
            <p style="color:red;">{{ student_form.phone_number.errors }}</p>
        </div><br>

        <div class="form-group">
            <label for="higher_education">Highest level of education completed<span style="color:red;">*</span></label>
            <select class="form-control sharp" id="higher_education" name="higher_education" >
                  {% include '_education.html' %}
            </select> 
        </div>   <br> 
        
        <div class="form-group">
            <label for="country">Country<span style="color:red;">*</span></label>
            <select class="form-control sharp" id="country" name="country" >
            <option value="India">India</option>
            <option value="United States of America" disabled>United States of America</option>
            <option value="United Kingdom" disabled>United Kingdom</option>
            <option value="Russia" disabled>Russia</option>
            </select> 
        </div><br>

        <div class="form-group">
        <label for="state">State<span style="color:red;">*</span></label>
        <select class="form-control sharp" id="state" name="state">
                        <option value="Delhi">Delhi</option>
                        <option value="Pondicherry">Pondicherry</option>
                        <option value="Haryana">Haryana</option>                      
                        <option value="Punjab">Punjab</option>
                        <option value="Goa">Goa</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Daman and Diu">Daman and Diu</option>
                        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Assam">Assam</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Lakshadweep">Lakshadweep</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="West Bengal">West Bengal</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Odisha">Odisha</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>    
                </select> 
        </div><br>

        <div class="form-group">
        <label for="city">City<span style="color:red;">*</span></label>
        <select class="form-control sharp" id="city" name="city">
        </select> 
        </div><br>

        <div class="form-group">
        <label for="street1">Street 1<span style="color:red;">*</span></label>
        <input type="text" class="form-control sharp" style="border: solid 1px #ccc;" id="street1" name="street1" placeholder="Enter your Street" value="{{logged_user.address.street1}}">
        <p style="color:red;">{{ student_form.street1.errors }}</p>
        </div><br>

        <div class="form-group">
        <label for="street2">Street 2</label>
        <input class="form-control sharp" style="border: solid 1px #ccc;" id="street2" name="street2" placeholder="Enter your Street Address (optional)" value="{{logged_user.address.street2}}">
        <p style="color:red;">{{ student_form.street2.errors }}</p>
        </div><br>

        <div class="form-group">
        <label for="pincode">Pincode<span style="color:red;">*</span></label>
        <input class="form-control sharp" style="border: solid 1px #ccc;" id="pincode" name="pincode" placeholder="Enter your Pincode" value="{{logged_user.address.pincode}}" maxlength="6">
        <p style="color:red;">{{ student_form.pincode.errors }}</p>
        </div><br>

        <!-- <div style="margin-top:30px;"> -->
             <div class="form-group">
              <div class="hidden-xs">
               <h2 class="text-center">Connect Accounts</h2>
    </div>
    <div class="hidden-md hidden-lg">
               <h4 class="text-center">Connect Accounts</h4>
    </div>
             <hr>  
               <div class="form-group">
                    <label for="fblink">Facebook</label>
                    {% if socialaccount_fb_id %}
                        <input type="url" name="fblink" class="form-control sharp" value="{{ socialaccount_fb_id }}" style="border: solid 1px #ccc;" id="fblink" readonly>
                    {% else %}
                        <input type="url" name="fblink" class="form-control sharp" value="{{ logged_user.fblink }}" style="border: solid 1px #ccc;" id="fblink" placeholder="Enter facebook profile link...">
                    {% endif %}
                </div>
               </div><br>

                <div class="form-group">
                   <label for="glink">Google</label>
                    {% if socialaccount_g_id %}
                        <input type="url" name="glink" class="form-control sharp" value="{{ socialaccount_g_id }}" style="border: solid 1px #ccc;" id="glink" readonly>
                    {% else %}
                        <input type="url" name="glink" class="form-control sharp" value="{{ logged_user.glink }}" style="border: solid 1px #ccc;" id="glink" placeholder="Enter google profile link...">
                    {% endif %}
                </div>
       <!-- </div> -->
    

    <div class="form-group">
        <input class="btn btn-primary sharp" type="button" value="Update details" id="update_details_button">&nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
      <a href="/dashboard/">
       <div class="btn btn-info sharp" type="button">Cancel</div>
      </a>
    </div>
    <!-- </div> -->
</form>
</div>
<div class="col-lg-2 col-md-2 col-sm-2"></div>
</div>

{% endblock %}

{% block footer_css_js %}
<script>
$(document).ready(function($) {
  //For selecting the value of country
$('#country > option[value="{{logged_user.address.country}}"]').prop('selected', true);
//For selecting the value of state
$('#state > option[value="{{logged_user.address.city_obj.city_state}}"]').prop('selected', true);
//For selecting the value of higher education
$('#higher_education > option[value="{{logged_user.higher_education}}"]').prop('selected', true);
//For selecting the value of gender
$('#gender > option[value="{{logged_user.gender}}"]').prop('selected', true);
});
//For selecting the value of city after page loading is complete.
function setCity(){
  $('#city > option[value="{{logged_user.address.city_obj.city_name}}"]').prop('selected', true);
}
</script>
<script type="text/javascript" src="{%static '/static/custom/js/profile.js'%}"></script>
<script src="{% static '/static/custom/js/login_register.js' %}"></script>
{%endblock%}
