{% extends 'new_home.html' %}
{% load goal_tags %}

{% load static %}
{% block head_js_css %}

{% endblock %}

{% block body %}
<a href='/set/goal/' class="btn btn-success btn-lg sharp right"><span class="glyphicon glyphicon-plus">&nbsp</span>Set New Goal</a>
<div class="container-fluid" style="margin-top:50px;">
  {% for goal in goals %}
  <div class="row">
  <div class="col-md-2"></div>
  <div class="panel-group">
      <div class="panel panel-default">
        <div class="col-md-12 panel-heading">
          <div class="col-md-3"> 
            <h4>{{goal.goal_name}}</h4>
          </div>
          <div class="col-md-3 right">
            <a href="/goal/delete/{{goal.id}}/" class="btn btn-danger">Delete</a>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-3">
            <span style="color: green;font-size: 15px;">Start Time: </span>{{goal.goal_start_time}}<br> 
            <span style="color: green;font-size: 15px;">End Time: </span>{{goal.goal_end_time}}<br> 
            <hr width="1">
          </div>
          <div class="col-md-3">  
            <span style="color: green;font-size: 15px;">Start Module: </span>{{goal.start_module}}<br> 
            <span style="color: green;font-size: 15px;">End Module: </span>{{goal.end_module}}<br> 
            <span style="font-size: 15px;">{{goal.goal_description}}</span>
          </div>
          <div class="col-md-5">
            <span style="color: green;font-size: 15px;">Badges: </span>
            {%with badges=goal|get_badges%}
              {%for badge in badges%}
                <span class="label label-default" style="margin-left:10px;color:#D0D7D9;background-color:{{badge.badge_color}}">
                  {{badge.badge_name}}
                </span>
              {%empty%}
                &nbsp; Not Have any badges here :(
              {%endfor%}
            {%endwith%}
            <br> 
          </div>
        </div>
        <div class="panel-footer">
           <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{goal.progress}}"
                aria-valuemin="{{goal.progress}}" aria-valuemax="{{goal.progress}}" style="width:{{goal.progress}}%">
                {{goal.progress}}%
              </div>
           </div>
        </div>
      </div>
  </div>
  </div>
{%empty%}
<div class="row">
  <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <span style="color: green;">Goal(s) Not found with your account.</span>
            <br>
            <br>
            <br>
            <a href="/set/goal/">Create a goal</a> with enrolled courses and test your skill(s)
        </div>
        <div class="panel-footer">
           
        </div>
      </div>
  </div>
</div>
{% endfor %}
<div class="col-md-2"></div>
  <br>
</div>
{% endblock %}

{% block footer_css_js %}
{%endblock%} 